In [1]:
import pandas as pd
df_2001 = pd.read_pickle('data/pred_2001.pkl')
df_2011 = pd.read_pickle('data/pred_2011.pkl')
df_2019 = pd.read_pickle('data/pred_2019.pkl')

In [3]:
df_2001.to_csv("Chahat_CSVs/Predictions_Labels_ADI_2001.csv")
df_2011.to_csv("Chahat_CSVs/Predictions_Labels_ADI_2011.csv")
df_2019.to_csv("Chahat_CSVs/Predictions_Labels_ADI_2019.csv")

In [11]:
df_2001.index.append(df_2011.index.append(df_2019.index))

Int64Index([ 27378,  27379,  27380,  27381,  27382,  27384,  27385,  27392,
             27393,  27394,
            ...
            644649, 644652, 644656, 644657, 644658, 644661, 644682, 644683,
            644687, 644693],
           dtype='int64', length=962309)

In [12]:
all_considered_villages = {}
for village_code in df_2001.index.append(df_2011.index.append(df_2019.index)):
    all_considered_villages[village_code] = 0

In [13]:
len(all_considered_villages)

340953

In [20]:
import json
from tqdm import tqdm

In [23]:
states = ['PB','CG', 'UP', 'MH', 'AP', 'BR', 'JH', 'GJ', 'TN', 'KA', 'RJ', 'HR', 'MP', 'OR']
excluded_villages = {}
for state in states:
    count = 0
    total_count = 0
    state_json = json.load(open('state_json/'+state+'.geojson','r'))
    for village in state_json['features']:
        total_count += 1
        try :
            if village["properties"]['pc11_village_id'] not in all_considered_villages:
                excluded_villages[village["properties"]['pc11_village_id']] = [village["properties"]["NAME"],state]
                count +=1
        except :
            if int(village["properties"]['pc11_village_id']) not in all_considered_villages:
                excluded_villages[int(village["properties"]['pc11_villa'])] = [village["properties"]["NAME"],state]
                count +=1
    print(state,str(count)+"/"+str(total_count))

PB 2499/12561
CG 4561/18726
UP 35977/108718
MH 8864/42419
AP 6764/23478
BR 17058/44982
JH 12965/32454
GJ 2733/16281
TN 10850/16040
KA 13215/28693
RJ 6497/36301
HR 1560/6729
MP 8191/54874
OR 11313/45902

In [24]:
len(excluded_villages)

141495

In [27]:
dict_excluded = {"State_Name":[], "Village_Code":[], "Village_Name":[]}
for village_code in excluded_villages.keys():
    dict_excluded["State_Name"].append(excluded_villages[village_code][1])
    dict_excluded["Village_Name"].append(excluded_villages[village_code][0])
    dict_excluded["Village_Code"].append(village_code)

In [28]:
final_Excluded = pd.DataFrame(dict_excluded)

In [29]:
final_Excluded.head()

  State_Name  Village_Code   Village_Name
0         PB         27374        Darbahn
1         PB         27375  Darkha Bungla
2         PB         27376          Sarti
3         PB         27377    Dukhaniyali
4         PB         27383       Phangota

In [ ]:
final_Excluded.to_csv("Chahat_CSVs/Excluded_Villages.csv")