In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import random
from tqdm import tqdm
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn import pipeline
from sklearn.feature_selection import SelectKBest, f_regression, f_classif, chi2, SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from scipy.stats import pearsonr
from sklearn.metrics import confusion_matrix, classification_report, silhouette_score, f1_score, precision_recall_curve, plot_precision_recall_curve, average_precision_score, auc
from sklearn.svm import SVR, LinearSVR, SVC, LinearSVC
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.kernel_approximation import Nystroem
from sklearn.linear_model import SGDClassifier, SGDRegressor
from sklearn.neural_network import MLPClassifier, MLPRegressor
from scipy import stats
from keras.layers import Dense
from keras.models import Sequential
from sklearn.metrics import plot_confusion_matrix

# 2011

In [ ]:
nightlight = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/3.Obtain_Nightlight_Features/computedData/result_extended_time_series_viirs_2011_WB.pickle', 'rb'))
nightlight_copy = nightlight.copy()
nightlight

,dc_score_none_none,dc_score_none_size,dc_score_none_size_intensity,dc_score_none_intensity,dc_score_log_none,dc_score_log_size,dc_score_log_size_intensity,dc_score_log_intensity,dc_score_sqrt_none,dc_score_sqrt_size,...,dc_score_sqrt_intensity,dc_score_none_size_only,dc_score_none_size_intensity_only,dc_score_none_intensity_only,dc_score_log_size_only,dc_score_log_size_intensity_only,dc_score_log_intensity_only,dc_score_sqrt_size_only,dc_score_sqrt_size_intensity_only,dc_score_sqrt_intensity_only
village_id,,,,,,,,,,,,,,,,,,,,,
60683.0,0.054712,3.414007,174.092005,1.349222,-2.905664,1.227887,5.159584,0.299528,0.233907,1.847703,...,1.161560,724.148230,36926.818956,32.787412,6.584996,10.516693,3.490045,26.910002,192.163521,5.726029
58270.0,0.086446,3.613324,184.255885,0.767768,-2.448230,1.284628,5.216325,-0.264268,0.294018,1.900875,...,0.876223,724.148230,36926.818956,24.400255,6.584996,10.516693,3.194594,26.910002,192.163521,4.939661
58278.0,0.065222,3.660551,186.664125,0.699896,-2.729963,1.297614,5.229311,-0.356824,0.255385,1.913257,...,0.836598,724.148230,36926.818956,24.400255,6.584996,10.516693,3.194594,26.910002,192.163521,4.939661
58297.0,0.071271,3.627885,184.998387,0.606656,-2.641268,1.288650,5.220347,-0.499793,0.266966,1.904701,...,0.778881,724.148230,36926.818956,34.754211,6.584996,10.516693,3.548301,26.910002,192.163521,5.895270
58269.0,0.088143,3.657437,186.505368,0.923385,-2.428800,1.296763,5.228460,-0.079709,0.296888,1.912443,...,0.960929,724.148230,36926.818956,24.400255,6.584996,10.516693,3.194594,26.910002,192.163521,4.939661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335320.0,0.000319,0.145047,7.396460,0.022056,-8.051204,-1.930696,2.001002,-3.814154,0.017853,0.380851,...,0.148514,724.148230,36926.818956,91.122937,6.584996,10.516693,4.512210,26.910002,192.163521,9.545833
335170.0,0.000087,0.052211,2.662398,0.008577,-9.345976,-2.952470,0.979227,-4.758670,0.009344,0.228496,...,0.092612,724.148230,36926.818956,114.458147,6.584996,10.516693,4.740209,26.910002,192.163521,10.698511
335315.0,0.000489,0.200894,10.796235,0.034234,-7.623550,-1.604978,2.379197,-3.374540,0.022109,0.448212,...,0.185024,513.354126,27588.147069,114.458147,6.240966,10.225142,4.740209,22.657319,166.096800,10.698511
318467.0,0.000120,0.071607,3.651472,0.010622,-9.026517,-2.636567,1.295130,-4.544860,0.010963,0.267594,...,0.103061,724.148230,36926.818956,114.458147,6.584996,10.516693,4.740209,26.910002,192.163521,10.698511
318465.0,0.000102,0.060028,3.061057,0.010201,-9.188718,-2.812937,1.118760,-4.585255,0.010109,0.245007,...,0.101001,724.148230,36926.818956,114.458147,6.584996,10.516693,4.740209,26.910002,192.163521,10.698511

In [ ]:
nightlight = nightlight.to_numpy().astype(float)
print(nightlight)

[[5.47124629e-02 3.41400697e+00 1.74092005e+02 ... 2.69100024e+01
  1.92163521e+02 5.72602931e+00]
 [8.64464934e-02 3.61332432e+00 1.84255885e+02 ... 2.69100024e+01
  1.92163521e+02 4.93966145e+00]
 [6.52217004e-02 3.66055077e+00 1.86664125e+02 ... 2.69100024e+01
  1.92163521e+02 4.93966145e+00]
 ...
 [4.88803310e-04 2.00893949e-01 1.07962350e+01 ... 2.26573195e+01
  1.66096800e+02 1.06985115e+01]
 [1.20180390e-04 7.16066906e-02 3.65147244e+00 ... 2.69100024e+01
  1.92163521e+02 1.06985115e+01]
 [1.02185808e-04 6.00284361e-02 3.06105726e+00 ... 2.69100024e+01
  1.92163521e+02 1.06985115e+01]]

In [ ]:
for i in range(0,21):
  nightlight[:,i] = StandardScaler().fit_transform(nightlight[:,i].reshape(-1,1)).reshape(-1)

nightlight

array([[-0.08819982,  0.55266591,  0.82002092, ...,  0.83552448,
         0.51994146,  0.0639594 ],
       [ 0.03660528,  0.63381746,  0.91776103, ...,  0.83552448,
         0.51994146, -0.25420127],
       [-0.04686859,  0.65304559,  0.94091967, ...,  0.83552448,
         0.51994146, -0.25420127],
       ...,
       [-0.3014532 , -0.75554487, -0.75029936, ...,  0.30853013,
        -0.07493268,  2.07580185],
       [-0.30290294, -0.80818385, -0.81900638, ...,  0.83552448,
         0.51994146,  2.07580185],
       [-0.30297371, -0.81289791, -0.82468406, ...,  0.83552448,
         0.51994146,  2.07580185]])

In [ ]:
final_nightlight = pd.DataFrame(nightlight, index=nightlight_copy.index, columns = nightlight_copy.columns)
final_nightlight

,dc_score_none_none,dc_score_none_size,dc_score_none_size_intensity,dc_score_none_intensity,dc_score_log_none,dc_score_log_size,dc_score_log_size_intensity,dc_score_log_intensity,dc_score_sqrt_none,dc_score_sqrt_size,...,dc_score_sqrt_intensity,dc_score_none_size_only,dc_score_none_size_intensity_only,dc_score_none_intensity_only,dc_score_log_size_only,dc_score_log_size_intensity_only,dc_score_log_intensity_only,dc_score_sqrt_size_only,dc_score_sqrt_size_intensity_only,dc_score_sqrt_intensity_only
village_id,,,,,,,,,,,,,,,,,,,,,
60683.0,-0.088200,0.552666,0.820021,0.151307,0.203298,0.898022,1.097150,0.657127,-0.083363,0.903948,...,0.606762,0.915215,0.560731,-0.131478,0.704893,0.449011,0.280773,0.835524,0.519941,0.063959
58270.0,0.036605,0.633817,0.917761,-0.094774,0.463388,0.952444,1.153296,0.219572,0.375067,0.991638,...,-0.025265,0.915215,0.560731,-0.386535,0.704893,0.449011,-0.051651,0.835524,0.519941,-0.254201
58278.0,-0.046869,0.653046,0.940920,-0.123499,0.303199,0.964899,1.166145,0.147741,0.080440,1.012058,...,-0.113037,0.915215,0.560731,-0.386535,0.704893,0.449011,-0.051651,0.835524,0.519941,-0.254201
58297.0,-0.023078,0.639746,0.924901,-0.162959,0.353629,0.956302,1.157275,0.036785,0.168759,0.997948,...,-0.240880,0.915215,0.560731,-0.071667,0.704893,0.449011,0.346319,0.835524,0.519941,0.132433
58269.0,0.043276,0.651778,0.939393,-0.028914,0.474436,0.964083,1.165303,0.362806,0.396956,1.010716,...,0.162360,0.915215,0.560731,-0.386535,0.704893,0.449011,-0.051651,0.835524,0.519941,-0.254201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335320.0,-0.302122,-0.778283,-0.782993,-0.410372,-2.722386,-2.131475,-2.028284,-2.535447,-1.731078,-1.515173,...,-1.637159,0.915215,0.560731,1.642528,0.704893,0.449011,1.430851,0.835524,0.519941,1.609434
335170.0,-0.303032,-0.816081,-0.828518,-0.416077,-3.458575,-3.111491,-3.039335,-3.268473,-1.795967,-1.766435,...,-1.760982,0.915215,0.560731,2.352161,0.704893,0.449011,1.687382,0.835524,0.519941,2.075802
335315.0,-0.301453,-0.755545,-0.750299,-0.405219,-2.479228,-1.819069,-1.654057,-2.194269,-1.698619,-1.404082,...,-1.556288,0.150554,-0.268213,2.352161,0.418149,0.101685,1.687382,0.308530,-0.074933,2.075802
318467.0,-0.302903,-0.808184,-0.819006,-0.415212,-3.276935,-2.808499,-2.726747,-3.102538,-1.783624,-1.701955,...,-1.737837,0.915215,0.560731,2.352161,0.704893,0.449011,1.687382,0.835524,0.519941,2.075802
318465.0,-0.302974,-0.812898,-0.824684,-0.415390,-3.369160,-2.977661,-2.901267,-3.133888,-1.790137,-1.739206,...,-1.742401,0.915215,0.560731,2.352161,0.704893,0.449011,1.687382,0.835524,0.519941,2.075802

In [ ]:
household_ind_input = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/4A.Merge_combined_cnn_output_with_nightLight_data_and_pop/combined_cnn_data_from_hpc_folder/combined_dfs/household_input_2011_combined_new_wb.pickle', 'rb'))
household_ind_input

,BF_0_OUT_1,BF_0_OUT_2,BF_0_OUT_3,FC_0_OUT_1,FC_0_OUT_2,FC_0_OUT_3,MSW_0_OUT_1,MSW_0_OUT_2,MSW_0_OUT_3,ASSET_0_OUT_1,...,FC_N_OUT_3,MSW_N_OUT_1,MSW_N_OUT_2,MSW_N_OUT_3,ASSET_N_OUT_1,ASSET_N_OUT_2,ASSET_N_OUT_3,LIT_N_OUT_1,LIT_N_OUT_2,LIT_N_OUT_3
27374,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.253323,0.227309,0.235085,0.537607,0.026339,0.081440,0.892220,0.016148,0.163609,0.820243
27375,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.291600,0.281419,0.333187,0.385393,0.102285,0.212185,0.685530,0.039876,0.251266,0.708858
27376,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.291600,0.281419,0.333187,0.385393,0.102285,0.212185,0.685530,0.039876,0.251266,0.708858
27377,0.717300,0.109797,0.172903,0.884718,0.015521,0.099761,0.284744,0.331306,0.383950,0.004524,...,0.323926,0.236340,0.237132,0.526528,0.067612,0.149842,0.782545,0.053968,0.238907,0.707125
27378,0.053910,0.939236,0.006854,0.809554,0.009099,0.181347,0.059269,0.030144,0.910587,0.000302,...,0.448983,0.140752,0.016412,0.842836,0.000919,0.028416,0.970665,0.001782,0.094716,0.903502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644912,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
644913,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
644914,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
644915,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
644916,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,0.699773,0.024887,0.167313,0.807801,0.011284,0.063931,0.924785,0.028658,0.269453,0.701889

In [ ]:
final_household = household_ind_input.join(final_nightlight, how = "inner").set_index(household_ind_input.index)
final_household

,BF_0_OUT_1,BF_0_OUT_2,BF_0_OUT_3,FC_0_OUT_1,FC_0_OUT_2,FC_0_OUT_3,MSW_0_OUT_1,MSW_0_OUT_2,MSW_0_OUT_3,ASSET_0_OUT_1,...,dc_score_sqrt_intensity,dc_score_none_size_only,dc_score_none_size_intensity_only,dc_score_none_intensity_only,dc_score_log_size_only,dc_score_log_size_intensity_only,dc_score_log_intensity_only,dc_score_sqrt_size_only,dc_score_sqrt_size_intensity_only,dc_score_sqrt_intensity_only
27374,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.791665,0.915215,0.560731,1.663097,0.704893,0.449011,1.439171,0.835524,0.519941,1.623741
27375,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.865952,0.915215,0.560731,1.663097,0.704893,0.449011,1.439171,0.835524,0.519941,1.623741
27376,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.873153,0.915215,0.560731,1.663097,0.704893,0.449011,1.439171,0.835524,0.519941,1.623741
27377,0.717300,0.109797,0.172903,0.884718,0.015521,0.099761,0.284744,0.331306,0.383950,0.004524,...,1.784298,0.915215,0.560731,1.663097,0.704893,0.449011,1.439171,0.835524,0.519941,1.623741
27378,0.053910,0.939236,0.006854,0.809554,0.009099,0.181347,0.059269,0.030144,0.910587,0.000302,...,1.697609,0.915215,0.560731,1.663097,0.704893,0.449011,1.439171,0.835524,0.519941,1.623741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644912,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-0.357319,0.150554,-0.268213,-0.797102,0.418149,0.101685,-0.958389,0.308530,-0.074933,-0.917027
644913,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-0.315845,0.150554,-0.268213,-0.912331,0.418149,0.101685,-1.439014,0.308530,-0.074933,-1.173911
644914,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-0.208912,0.150554,-0.268213,-0.912331,0.418149,0.101685,-1.439014,0.308530,-0.074933,-1.173911
644915,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-0.044573,0.150554,-0.268213,-0.912331,0.418149,0.101685,-1.439014,0.308530,-0.074933,-1.173911
644916,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-0.493225,0.150554,-0.268213,-0.912331,0.418149,0.101685,-1.439014,0.308530,-0.074933,-1.173911

In [ ]:
census_2011 = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/4.Training_CNN_(Arch_3)/Data/2011_PA_df.pickle', 'rb'))
print(len(census_2011))
# vill_df11.head()

census_2011['Village_ID'] = census_2011['Town/Village']

census_2011.set_index('Village_ID', inplace = True)
census_2011 = census_2011[census_2011['Level'] != 'WARD']
census_2011 = census_2011[np.logical_not(census_2011.index.duplicated())]

print(len(census_2011))
census_2011.head()

731602
648865

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
Village_ID,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,0,0,VILLAGE,Bore,Rural,130,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,2,0,0,VILLAGE,Keran,Rural,400,...,0,0,0,0,0,0,0,2616,1447,1169
3,1,1,1,3,0,0,VILLAGE,Bugna,Rural,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,4,0,0,VILLAGE,Bichwal,Rural,0,...,0,0,0,0,0,0,0,0,0,0
5,1,1,1,5,0,0,VILLAGE,Mindiyan,Rural,528,...,0,0,0,0,0,0,0,4561,2094,2467

In [ ]:
census_2011

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
Village_ID,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,0,0,VILLAGE,Bore,Rural,130,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,2,0,0,VILLAGE,Keran,Rural,400,...,0,0,0,0,0,0,0,2616,1447,1169
3,1,1,1,3,0,0,VILLAGE,Bugna,Rural,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,4,0,0,VILLAGE,Bichwal,Rural,0,...,0,0,0,0,0,0,0,0,0,0
5,1,1,1,5,0,0,VILLAGE,Mindiyan,Rural,528,...,0,0,0,0,0,0,0,4561,2094,2467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645570,35,640,5924,645570,0,0,VILLAGE,Butler Bay Forest Camp 4-I (FDCA),Rural,23,...,0,0,0,0,0,0,0,44,15,29
645516,35,640,5922,645516,0,0,TOWN,Bambooflat (CT),Urban,1907,...,1,1,0,1,76,44,32,5010,1721,3289
804041,35,640,5923,804041,0,0,TOWN,Port Blair (M Cl),Urban,27049,...,0,2,2,0,279,199,80,64052,22882,41170
645550,35,640,5923,645550,0,0,TOWN,Prothrapur (CT),Urban,2609,...,0,1,0,1,27,19,8,6038,2146,3892
645551,35,640,5923,645551,0,0,TOWN,Garacharma (CT),Urban,3732,...,0,2,2,0,152,121,31,8615,3000,5615

In [ ]:
year = '2011'



#Uncomment for 2001
#population, household = 'T_P', 'T_HH'
#vill_df = census_2001.copy()



if year == '2011' :
  population, household = 'TOT_P', 'No_HH'
  vill_df = census_2011.copy()



final_pop = vill_df[[population, household]]

final_pop =  final_pop.filter(items = final_household.index, axis = 0) 

final_pop.rename(columns = {population:'pop', household : 'hh'}, inplace = True)

In [ ]:
final_pop

             pop    hh
Village_ID
27374        527   103
27375        422    80
27376       3960   769
27377        664   126
27378        852   179
...          ...   ...
644912      3256   888
644913      4603  1177
644914      2496   719
644915      6604  1917
644916      2787   804

[434952 rows x 2 columns]

In [ ]:
final_pop_drop_zero  = final_pop[(final_pop['pop']!=0)  & (final_pop['hh'] != 0)]

In [ ]:
final_pop_drop_zero

             pop    hh
Village_ID
27374        527   103
27375        422    80
27376       3960   769
27377        664   126
27378        852   179
...          ...   ...
644912      3256   888
644913      4603  1177
644914      2496   719
644915      6604  1917
644916      2787   804

[416635 rows x 2 columns]

In [ ]:
final_pop_drop_zero['log_pop'] = np.log2(final_pop_drop_zero['pop'])
final_pop_drop_zero['sqrt_pop'] = np.sqrt(final_pop_drop_zero['pop'])

final_pop_drop_zero['log_hh'] = np.log2(final_pop_drop_zero['hh'])
final_pop_drop_zero['sqrt_hh'] = np.sqrt(final_pop_drop_zero['hh'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
final_pop_drop_zero[final_pop_drop_zero["pop"]==0]

Empty DataFrame
Columns: [pop, hh, log_pop, sqrt_pop, log_hh, sqrt_hh]
Index: []

In [ ]:
final_pop_drop_zero

             pop    hh    log_pop   sqrt_pop     log_hh    sqrt_hh
Village_ID
27374        527   103   9.041659  22.956481   6.686501  10.148892
27375        422    80   8.721099  20.542639   6.321928   8.944272
27376       3960   769  11.951285  62.928531   9.586840  27.730849
27377        664   126   9.375039  25.768197   6.977280  11.224972
27378        852   179   9.734710  29.189039   7.483816  13.379088
...          ...   ...        ...        ...        ...        ...
644912      3256   888  11.668885  57.061370   9.794416  29.799329
644913      4603  1177  12.168359  67.845413  10.200899  34.307434
644914      2496   719  11.285402  49.959984   9.489848  26.814175
644915      6604  1917  12.689124  81.264999  10.904635  43.783559
644916      2787   804  11.444497  52.792045   9.651052  28.354894

[416635 rows x 6 columns]

In [ ]:
X = final_pop_drop_zero.copy().to_numpy().astype(float)

In [ ]:
X

array([[5.27000000e+02, 1.03000000e+02, 9.04165915e+00, 2.29564806e+01,
        6.68650053e+00, 1.01488916e+01],
       [4.22000000e+02, 8.00000000e+01, 8.72109919e+00, 2.05426386e+01,
        6.32192809e+00, 8.94427191e+00],
       [3.96000000e+03, 7.69000000e+02, 1.19512847e+01, 6.29285309e+01,
        9.58683979e+00, 2.77308492e+01],
       ...,
       [2.49600000e+03, 7.19000000e+02, 1.12854022e+01, 4.99599840e+01,
        9.48984796e+00, 2.68141754e+01],
       [6.60400000e+03, 1.91700000e+03, 1.26891244e+01, 8.12649986e+01,
        1.09046346e+01, 4.37835586e+01],
       [2.78700000e+03, 8.04000000e+02, 1.14444973e+01, 5.27920449e+01,
        9.65105169e+00, 2.83548938e+01]])

In [ ]:
for i in range(0,6):
  print(i)
  X[:,i] = StandardScaler().fit_transform(X[:,i].reshape(-1,1)).reshape(-1)

0
1
2
3
4
5

In [ ]:
X = pd.DataFrame(X, index=final_pop_drop_zero.index.copy(), columns = final_pop_drop_zero.columns)

In [ ]:
X

                 pop        hh   log_pop  sqrt_pop    log_hh   sqrt_hh
Village_ID
27374      -0.544321 -0.535393 -0.500952 -0.658343 -0.539013 -0.671614
27375      -0.598757 -0.593011 -0.696852 -0.788809 -0.766183 -0.816468
27376       1.235488  1.133020  1.277167  1.502110  1.268223  1.442596
27377      -0.473294 -0.477775 -0.297218 -0.506372 -0.357825 -0.542217
27378      -0.375827 -0.345004 -0.077418 -0.321479 -0.042197 -0.283187
...              ...       ...       ...       ...       ...       ...
644912      0.870505  1.431130  1.104588  1.184995  1.397566  1.691328
644913      1.568846  2.155112  1.409824  1.767863  1.650850  2.233422
644914      0.476490  1.007764  0.870235  0.801172  1.207786  1.332367
644915      2.606246  4.008904  1.728072  2.493179  2.089357  3.372915
644916      0.627356  1.220700  0.967461  0.954242  1.308234  1.517636

[416635 rows x 6 columns]

In [ ]:
final_data = final_household.join(X, how = "inner")
final_data

,BF_0_OUT_1,BF_0_OUT_2,BF_0_OUT_3,FC_0_OUT_1,FC_0_OUT_2,FC_0_OUT_3,MSW_0_OUT_1,MSW_0_OUT_2,MSW_0_OUT_3,ASSET_0_OUT_1,...,dc_score_log_intensity_only,dc_score_sqrt_size_only,dc_score_sqrt_size_intensity_only,dc_score_sqrt_intensity_only,pop,hh,log_pop,sqrt_pop,log_hh,sqrt_hh
27374,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.439171,0.835524,0.519941,1.623741,-0.544321,-0.535393,-0.500952,-0.658343,-0.539013,-0.671614
27375,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.439171,0.835524,0.519941,1.623741,-0.598757,-0.593011,-0.696852,-0.788809,-0.766183,-0.816468
27376,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.439171,0.835524,0.519941,1.623741,1.235488,1.133020,1.277167,1.502110,1.268223,1.442596
27377,0.717300,0.109797,0.172903,0.884718,0.015521,0.099761,0.284744,0.331306,0.383950,0.004524,...,1.439171,0.835524,0.519941,1.623741,-0.473294,-0.477775,-0.297218,-0.506372,-0.357825,-0.542217
27378,0.053910,0.939236,0.006854,0.809554,0.009099,0.181347,0.059269,0.030144,0.910587,0.000302,...,1.439171,0.835524,0.519941,1.623741,-0.375827,-0.345004,-0.077418,-0.321479,-0.042197,-0.283187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644912,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-0.958389,0.308530,-0.074933,-0.917027,0.870505,1.431130,1.104588,1.184995,1.397566,1.691328
644913,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-1.439014,0.308530,-0.074933,-1.173911,1.568846,2.155112,1.409824,1.767863,1.650850,2.233422
644914,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-1.439014,0.308530,-0.074933,-1.173911,0.476490,1.007764,0.870235,0.801172,1.207786,1.332367
644915,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-1.439014,0.308530,-0.074933,-1.173911,2.606246,4.008904,1.728072,2.493179,2.089357,3.372915
644916,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,-1.439014,0.308530,-0.074933,-1.173911,0.627356,1.220700,0.967461,0.954242,1.308234,1.517636

In [ ]:
pickle.dump(final_data, open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/4A.Merge_combined_cnn_output_with_nightLight_data_and_pop/data_after_combining_nightlight_population/final_input_data_for_regression_'+year+'_WB.pickle', 'wb'))