In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<font color="red" size="6">Import Libraries</font>

In [ ]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import random
from tqdm import tqdm
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn import pipeline
from sklearn.feature_selection import SelectKBest, f_regression, f_classif, chi2, SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from scipy.stats import pearsonr
from sklearn.metrics import confusion_matrix, classification_report, silhouette_score, f1_score, precision_recall_curve, plot_precision_recall_curve, average_precision_score, auc
from sklearn.svm import SVR, LinearSVR, SVC, LinearSVC
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.kernel_approximation import Nystroem
from sklearn.linear_model import SGDClassifier, SGDRegressor
from sklearn.neural_network import MLPClassifier, MLPRegressor
from scipy import stats
from keras.layers import Dense
from keras.models import Sequential
from sklearn.metrics import plot_confusion_matrix

#MAKE TRAIN AND VAL FOR LIT (Dont run this)

In [ ]:
import csv
csvreader = csv.reader(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Val(According_to_Arch_1)/lit_lvls_akshay.csv'))
data_csv = list(csvreader)
df_csv = pd.DataFrame(data_csv, columns = ['no', 'code', 'level'])

df_csv = df_csv.iloc[1: , 1:]
print(df_csv.head())

df_csv = df_csv.apply(pd.to_numeric)
df_lit_val = df_csv.copy()
df_dict = dict(df_csv.values)
pickle.dump(df_dict, open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Val(According_to_Arch_1)/lit_lvls.pickle', 'wb'))
len(df_dict)

       code level
1   98228.0   1.0
2  221992.0   1.0
3  134768.0   1.0
4  425298.0   1.0
5  432229.0   1.0

67623

In [ ]:
type(df_dict[221992.0])

numpy.float64

In [ ]:
df_lit = df_lit_val.copy().set_index('code')
df_lit.loc[98228.0, :]

level    1.0
Name: 98228.0, dtype: float64

In [ ]:
df_train_all = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Train(According_to_Arch_1)/lit_lvls_all.pickle','rb'))
print(len(df_train_all))
df_train_lit = pd.DataFrame.from_dict(df_train_all, orient='index', columns=['label'])
# df_train_lit = df_train_lit.apply(pd.to_numeric)

df_train_lit

337000

        label
347135      1
347136      2
347137      2
347138      2
347139      2
...       ...
597104      2
597105      3
597106      3
597107      3
597109      2

[337000 rows x 1 columns]

In [ ]:
df_train_lit = df_train_lit.drop(df_lit.index)
df_train_lit

        label
347135      1
347136      2
347138      2
347139      2
347140      2
...       ...
597104      2
597105      3
597106      3
597107      3
597109      2

[269377 rows x 1 columns]

In [ ]:
df_train_lit['code'] = df_train_lit.index
df_train_lit = df_train_lit[['code', 'label']]
df_train_lit

          code  label
347135  347135      1
347136  347136      2
347138  347138      2
347139  347139      2
347140  347140      2
...        ...    ...
597104  597104      2
597105  597105      3
597106  597106      3
597107  597107      3
597109  597109      2

[269377 rows x 2 columns]

In [ ]:
df_train_dict = dict(df_train_lit.values)
print(len(df_train_dict))
df_train_dict

269377

{347135: 1,
 347136: 2,
 347138: 2,
 347139: 2,
 347140: 2,
 347143: 2,
 347146: 2,
 347147: 2,
 347148: 2,
 347149: 2,
 347150: 2,
 347151: 2,
 347152: 2,
 347153: 2,
 347154: 1,
 347156: 2,
 347158: 2,
 347159: 2,
 347160: 2,
 347161: 2,
 347162: 2,
 347163: 2,
 347164: 2,
 347167: 2,
 347169: 1,
 347171: 2,
 347172: 2,
 347176: 2,
 347177: 2,
 347178: 2,
 347180: 2,
 347182: 2,
 347184: 2,
 347185: 2,
 347186: 2,
 347187: 2,
 347188: 2,
 347189: 2,
 347194: 2,
 347195: 2,
 347196: 2,
 347197: 2,
 347198: 2,
 347199: 1,
 347200: 3,
 347201: 2,
 347202: 2,
 347203: 2,
 347204: 2,
 347206: 2,
 347207: 2,
 347208: 3,
 347210: 3,
 347211: 2,
 347212: 2,
 347213: 3,
 347215: 3,
 347216: 3,
 347217: 2,
 347223: 2,
 347224: 2,
 347225: 2,
 347232: 3,
 347235: 3,
 347243: 2,
 347244: 2,
 347245: 2,
 347248: 3,
 347252: 2,
 347253: 2,
 347266: 2,
 347267: 2,
 347268: 2,
 347269: 2,
 347271: 3,
 347272: 2,
 347277: 3,
 347278: 3,
 347280: 2,
 347281: 3,
 347283: 3,
 347284: 2,
 347289: 2,
 347291: 2,
 347294: 2,
 347295: 3,
 347296: 2,
 347297: 3,
 347298: 3,
 347300: 2,
 347301: 2,
 347303: 2,
 347304: 2,
 347305: 1,
 347306: 2,
 347308: 2,
 347309: 2,
 347310: 1,
 347311: 2,
 347312: 2,
 347313: 2,
 347314: 2,
 347315: 2,
 347319: 2,
 347320: 2,
 347325: 3,
 347326: 2,
 347327: 2,
 347328: 3,
 347335: 2,
 347339: 2,
 347340: 2,
 347341: 2,
 347342: 2,
 347347: 2,
 347352: 2,
 347353: 2,
 347354: 2,
 347355: 2,
 347356: 1,
 347359: 1,
 347360: 1,
 347361: 2,
 347365: 2,
 347366: 1,
 347367: 1,
 347368: 2,
 347369: 1,
 347371: 2,
 347373: 2,
 347374: 1,
 347375: 2,
 347377: 3,
 347378: 2,
 347379: 2,
 347380: 2,
 347381: 1,
 347382: 2,
 347383: 2,
 347385: 2,
 347388: 2,
 347389: 2,
 347390: 2,
 347391: 2,
 347393: 2,
 347395: 1,
 347396: 2,
 347397: 2,
 347403: 1,
 347404: 1,
 347405: 1,
 347406: 1,
 347410: 1,
 347412: 2,
 347413: 1,
 347414: 2,
 347415: 2,
 347416: 2,
 347417: 1,
 347418: 1,
 347419: 2,
 347421: 1,
 347423: 1,
 347425: 2,
 347426: 2,
 347428: 3,
 347429: 2,
 347432: 2,
 347434: 2,
 347436: 1,
 347437: 2,
 347439: 2,
 347442: 2,
 347444: 1,
 347446: 2,
 347447: 2,
 347451: 2,
 347452: 2,
 347454: 2,
 347457: 2,
 347458: 1,
 347459: 1,
 347460: 2,
 347463: 2,
 347468: 3,
 347469: 2,
 347473: 3,
 347476: 3,
 347477: 2,
 347479: 2,
 347481: 1,
 347482: 1,
 347483: 1,
 347487: 1,
 347491: 2,
 347493: 2,
 347494: 2,
 347495: 2,
 347496: 2,
 347497: 2,
 347498: 2,
 347499: 2,
 347504: 2,
 347505: 2,
 347511: 2,
 347513: 2,
 347514: 2,
 347515: 2,
 347516: 2,
 347520: 3,
 347522: 2,
 347523: 1,
 347529: 2,
 347530: 1,
 347533: 1,
 347534: 1,
 347537: 1,
 347538: 1,
 347539: 1,
 347540: 2,
 347541: 2,
 347542: 2,
 347543: 2,
 347544: 2,
 347545: 2,
 347546: 2,
 347547: 1,
 347548: 1,
 347549: 1,
 347550: 1,
 347551: 2,
 347554: 2,
 347555: 1,
 347557: 2,
 347558: 2,
 347559: 2,
 347565: 1,
 347566: 2,
 347567: 2,
 347568: 1,
 347569: 2,
 347571: 2,
 347573: 2,
 347574: 2,
 347576: 1,
 347577: 1,
 347578: 2,
 347580: 2,
 347581: 1,
 347582: 1,
 347583: 2,
 347584: 2,
 347585: 1,
 347587: 3,
 347589: 1,
 347592: 2,
 347593: 1,
 347594: 2,
 347596: 1,
 347597: 2,
 347598: 2,
 347599: 2,
 347600: 2,
 347606: 2,
 347607: 2,
 347608: 2,
 347609: 2,
 347610: 2,
 347611: 2,
 347612: 1,
 347613: 1,
 347615: 1,
 347616: 2,
 347618: 1,
 347620: 1,
 347624: 1,
 347627: 2,
 347628: 2,
 347629: 2,
 347630: 2,
 347631: 2,
 347633: 2,
 347634: 2,
 347635: 2,
 347636: 3,
 347641: 2,
 347643: 1,
 347646: 2,
 347647: 1,
 347648: 2,
 347649: 2,
 347650: 2,
 347651: 2,
 347652: 1,
 347653: 2,
 347654: 1,
 347655: 2,
 347656: 2,
 347658: 2,
 347659: 2,
 347661: 2,
 347662: 2,
 347667: 2,
 347668: 3,
 347671: 2,
 347672: 2,
 347673: 2,
 347674: 3,
 347676: 2,
 347677: 3,
 347678: 2,
 347681: 2,
 347683: 2,
 347686: 2,
 347687: 2,
 347688: 2,
 347689: 1,
 347690: 1,
 347692: 1,
 347693: 2,
 347695: 3,
 347696: 2,
 347699: 1,
 347703: 3,
 347704: 2,
 347705: 2,
 347706: 2,
 347707: 2,
 347710: 2,
 347712: 3,
 347713: 3,
 347714: 2,
 347716: 3,
 347717: 2,
 347719: 2,
 347720: 1,
 347721: 2,
 347724: 2,
 347726: 2,
 347728: 2,
 347729: 1,
 347736: 3,
 347737: 2,
 347738: 3,
 347739: 2,
 347740: 2,
 347741: 3,
 347743: 3,
 347745: 3,
 347747: 2,
 347748: 3,
 347749: 1,
 347750: 2,
 347751: 2,
 347752: 3,
 347753: 1,
 347754: 3,
 347755: 2,
 347756: 2,
 347758: 3,
 347759: 3,
 347761: 2,
 347763: 1,
 347765: 2,
 347768: 3,
 347769: 3,
 347770: 2,
 347773: 2,
 347774: 2,
 347776: 2,
 347777: 2,
 347779: 2,
 347781: 2,
 347786: 2,
 347788: 2,
 347789: 1,
 347790: 2,
 347791: 1,
 347792: 2,
 347798: 3,
 347800: 2,
 347802: 2,
 347804: 3,
 347805: 2,
 347806: 1,
 347807: 2,
 347808: 2,
 347809: 2,
 347810: 2,
 347811: 2,
 347813: 1,
 347814: 2,
 347815: 2,
 347816: 2,
 347818: 1,
 347819: 2,
 347820: 2,
 347821: 2,
 347823: 2,
 347824: 2,
 347830: 2,
 347832: 1,
 347833: 2,
 347835: 1,
 347836: 1,
 347839: 1,
 347841: 3,
 347845: 1,
 347846: 2,
 347849: 2,
 347851: 1,
 347852: 2,
 347854: 2,
 347855: 1,
 347857: 2,
 347858: 1,
 347859: 1,
 347860: 2,
 347861: 2,
 347863: 2,
 347864: 1,
 347868: 1,
 347869: 2,
 347871: 2,
 347875: 2,
 347876: 2,
 347877: 2,
 347878: 2,
 347879: 1,
 347880: 2,
 347881: 2,
 347882: 3,
 347883: 2,
 347885: 2,
 347886: 1,
 347888: 2,
 347889: 2,
 347890: 1,
 347892: 2,
 347893: 1,
 347894: 1,
 347895: 2,
 347896: 2,
 347897: 1,
 347898: 1,
 347899: 2,
 347900: 2,
 347901: 2,
 347903: 1,
 347905: 1,
 347906: 1,
 347907: 2,
 347908: 1,
 347909: 1,
 347912: 2,
 347913: 1,
 347914: 1,
 347915: 1,
 347916: 1,
 347917: 2,
 347919: 2,
 347920: 1,
 347921: 1,
 347922: 1,
 347923: 1,
 347924: 1,
 347925: 1,
 347928: 1,
 347929: 1,
 347930: 1,
 347931: 1,
 347933: 1,
 347934: 1,
 347935: 1,
 347936: 2,
 347937: 1,
 347938: 1,
 347940: 1,
 347941: 2,
 347942: 2,
 347943: 2,
 347948: 2,
 347949: 2,
 347950: 2,
 347951: 3,
 347952: 3,
 347953: 2,
 347954: 2,
 347955: 2,
 347958: 2,
 347961: 2,
 347965: 3,
 347966: 1,
 347967: 2,
 347968: 1,
 347969: 1,
 347970: 1,
 347971: 1,
 347972: 2,
 347973: 2,
 347974: 1,
 347975: 2,
 347976: 2,
 347978: 1,
 347983: 2,
 347986: 2,
 347987: 2,
 347988: 2,
 347989: 3,
 347990: 1,
 347991: 2,
 347992: 2,
 347995: 2,
 347996: 2,
 348000: 2,
 348001: 1,
 348002: 2,
 348003: 1,
 348009: 1,
 348011: 2,
 348013: 2,
 348014: 1,
 348016: 2,
 348017: 1,
 348018: 1,
 348019: 1,
 348020: 2,
 348026: 1,
 348027: 1,
 348029: 2,
 348030: 2,
 348031: 1,
 348036: 1,
 348037: 2,
 348038: 3,
 348040: 2,
 348051: 3,
 348059: 2,
 348062: 2,
 348064: 1,
 348065: 2,
 348067: 3,
 348069: 2,
 348071: 1,
 348072: 1,
 348073: 1,
 348074: 2,
 348075: 2,
 348076: 2,
 348077: 2,
 348078: 1,
 348080: 2,
 348084: 2,
 348085: 2,
 348089: 1,
 348090: 1,
 348093: 1,
 348094: 2,
 348095: 1,
 348098: 2,
 348101: 2,
 348102: 1,
 348104: 2,
 348106: 2,
 348110: 2,
 348111: 1,
 348113: 2,
 348114: 2,
 348117: 2,
 348128: 1,
 348129: 1,
 348130: 1,
 348131: 1,
 348132: 1,
 348135: 2,
 348137: 2,
 348143: 1,
 348144: 1,
 348145: 2,
 348146: 1,
 348147: 2,
 348149: 1,
 348154: 1,
 348157: 2,
 348160: 1,
 348162: 2,
 348163: 1,
 348165: 1,
 348166: 2,
 348168: 2,
 348169: 1,
 348171: 1,
 348173: 2,
 348175: 3,
 348178: 1,
 348179: 1,
 348180: 1,
 348198: 1,
 348199: 1,
 348201: 2,
 348202: 1,
 348203: 1,
 348206: 1,
 348207: 1,
 348209: 1,
 348210: 1,
 348212: 2,
 348213: 2,
 348214: 1,
 348215: 1,
 348217: 1,
 348218: 2,
 348220: 2,
 348223: 1,
 348224: 1,
 348225: 1,
 348226: 1,
 348227: 1,
 348229: 1,
 348230: 1,
 348232: 1,
 348233: 1,
 348234: 2,
 348235: 1,
 348236: 1,
 348237: 2,
 348240: 1,
 348242: 1,
 348246: 1,
 348247: 2,
 348248: 1,
 348249: 2,
 348250: 1,
 348251: 1,
 348257: 1,
 348259: 1,
 348260: 1,
 348263: 1,
 348264: 2,
 348265: 1,
 348268: 1,
 348269: 1,
 348272: 2,
 348278: 1,
 348279: 1,
 348280: 3,
 348281: 1,
 348282: 1,
 348283: 3,
 348284: 1,
 348286: 3,
 348290: 1,
 348292: 1,
 348296: 1,
 348299: 1,
 348301: 1,
 348305: 2,
 348311: 1,
 348313: 3,
 348314: 2,
 348317: 2,
 348319: 1,
 348321: 1,
 348324: 1,
 348325: 2,
 348326: 2,
 348327: 1,
 348328: 1,
 348331: 2,
 348332: 2,
 348335: 2,
 348336: 1,
 348340: 1,
 348341: 1,
 348342: 2,
 348343: 1,
 348344: 2,
 348345: 1,
 348346: 2,
 348347: 2,
 348348: 1,
 348349: 2,
 348350: 1,
 348355: 2,
 348356: 2,
 348359: 1,
 348361: 1,
 348363: 2,
 348364: 2,
 348369: 3,
 348370: 2,
 348372: 1,
 348373: 3,
 348375: 2,
 348376: 1,
 348377: 1,
 348378: 2,
 348380: 1,
 348381: 2,
 348383: 1,
 348385: 2,
 348387: 2,
 348389: 2,
 348390: 3,
 348392: 1,
 348393: 2,
 348395: 1,
 348397: 1,
 348403: 1,
 348404: 2,
 348405: 1,
 348407: 1,
 348408: 2,
 348409: 2,
 348410: 1,
 348414: 1,
 348415: 2,
 348416: 1,
 348418: 1,
 348419: 1,
 348420: 1,
 348421: 1,
 348422: 2,
 348424: 1,
 348425: 1,
 348426: 2,
 348427: 1,
 348428: 1,
 348429: 2,
 348432: 1,
 348433: 1,
 348434: 1,
 348435: 1,
 348436: 1,
 348437: 1,
 348438: 1,
 348440: 1,
 348441: 2,
 348443: 2,
 348444: 2,
 348445: 2,
 348449: 1,
 348450: 1,
 348451: 1,
 348452: 1,
 348453: 1,
 348454: 2,
 348459: 1,
 348460: 1,
 348462: 2,
 348464: 2,
 348465: 2,
 348466: 1,
 348467: 1,
 348468: 2,
 348469: 1,
 348471: 1,
 348472: 1,
 348475: 1,
 348478: 1,
 348479: 1,
 348480: 1,
 348481: 1,
 348482: 1,
 348483: 1,
 348484: 1,
 348487: 3,
 348490: 1,
 348491: 1,
 348494: 1,
 348495: 1,
 348496: 1,
 348497: 1,
 348498: 1,
 348499: 1,
 348500: 1,
 348501: 1,
 348503: 1,
 348504: 2,
 348505: 1,
 348506: 1,
 348507: 1,
 348508: 1,
 348509: 1,
 348510: 1,
 348511: 1,
 348512: 1,
 348514: 1,
 348516: 1,
 348517: 1,
 348518: 1,
 348519: 1,
 348521: 1,
 348522: 1,
 348523: 1,
 348525: 3,
 348528: 1,
 348530: 1,
 348531: 1,
 348532: 1,
 348533: 1,
 348534: 1,
 348535: 1,
 348537: 1,
 348541: 1,
 348542: 1,
 348544: 1,
 348546: 1,
 348547: 1,
 348548: 2,
 348549: 2,
 348550: 1,
 348554: 1,
 348555: 1,
 348556: 1,
 348557: 1,
 348558: 1,
 348560: 1,
 348561: 1,
 348562: 1,
 348564: 2,
 348566: 1,
 348567: 2,
 348568: 1,
 348569: 1,
 348571: 1,
 348572: 2,
 348573: 1,
 348574: 1,
 348575: 1,
 348577: 2,
 348580: 2,
 348581: 1,
 348582: 1,
 348583: 1,
 348587: 1,
 348588: 1,
 348592: 1,
 348593: 1,
 348594: 1,
 348595: 1,
 348596: 2,
 348597: 1,
 348598: 2,
 348599: 1,
 348600: 2,
 348601: 2,
 348602: 1,
 348603: 1,
 348604: 2,
 348605: 1,
 348606: 1,
 348607: 1,
 348608: 1,
 348611: 1,
 348612: 1,
 348613: 1,
 348614: 1,
 348615: 1,
 348617: 1,
 348618: 2,
 348619: 1,
 348621: 1,
 348622: 2,
 348623: 2,
 348625: 3,
 348626: 2,
 348629: 3,
 348631: 1,
 348632: 3,
 348634: 2,
 348635: 1,
 348636: 1,
 348637: 1,
 348638: 1,
 348639: 1,
 348641: 3,
 348642: 2,
 348644: 2,
 348647: 1,
 348648: 1,
 348649: 1,
 348650: 2,
 348651: 1,
 348654: 2,
 348655: 2,
 348656: 2,
 348658: 2,
 348660: 2,
 348662: 2,
 348663: 2,
 348666: 2,
 348667: 1,
 348668: 1,
 348669: 1,
 348671: 2,
 348672: 1,
 348676: 1,
 348677: 1,
 348678: 1,
 348679: 1,
 348680: 1,
 348682: 1,
 348683: 1,
 348684: 1,
 348685: 1,
 348687: 1,
 348689: 1,
 348690: 2,
 348693: 2,
 348694: 1,
 348695: 1,
 348696: 2,
 348698: 3,
 348699: 2,
 348701: 1,
 348703: 1,
 348706: 1,
 348707: 2,
 348708: 1,
 348710: 2,
 348711: 1,
 348713: 1,
 348714: 2,
 348716: 1,
 348717: 1,
 348718: 1,
 348719: 1,
 348720: 1,
 348724: 2,
 348726: 1,
 348727: 2,
 348729: 1,
 348731: 2,
 348732: 1,
 348733: 1,
 348737: 1,
 348742: 3,
 348750: 1,
 348753: 1,
 348754: 2,
 348755: 1,
 348757: 1,
 348759: 3,
 348760: 2,
 348763: 2,
 348764: 2,
 348765: 1,
 348773: 1,
 348774: 2,
 348778: 3,
 348781: 3,
 348783: 2,
 348785: 2,
 348787: 1,
 348793: 1,
 348794: 2,
 348796: 3,
 348800: 2,
 348802: 2,
 348804: 3,
 348805: 2,
 348808: 2,
 348811: 2,
 348812: 3,
 348813: 3,
 348816: 1,
 348818: 2,
 348819: 2,
 348821: 2,
 348824: 1,
 348825: 1,
 348826: 1,
 348827: 2,
 348828: 2,
 348829: 1,
 348830: 2,
 348831: 1,
 348837: 1,
 348838: 2,
 348839: 1,
 348841: 2,
 348842: 1,
 348845: 1,
 348847: 1,
 348850: 2,
 348854: 1,
 348855: 2,
 348857: 2,
 348858: 1,
 348859: 1,
 348860: 2,
 348861: 1,
 348863: 2,
 348865: 2,
 348866: 3,
 348867: 1,
 348870: 3,
 348871: 3,
 348872: 3,
 ...}

In [ ]:
pickle.dump(df_train_dict, open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Train(According_to_Arch_1)/lit_lvls.pickle','wb'))

#CREATE THE INPUTS AND OUTPUTS

In [ ]:
# # LEVELS FOR A PARTICULAR INDICATOR

# # fc_train = pickle.load(open('/content/drive/MyDrive/Input_output_regression/Final I O/Indicator_Classes/Train/fc_lvls.pickle','rb'))
# # fc_val = pickle.load(open('/content/drive/MyDrive/Input_output_regression/Final I O/Indicator_Classes/Val/fc_lvls.pickle','rb'))

# fc_train = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Train(According_to_Arch_1)/msw_lvls.pickle','rb'))
# fc_val = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Val(According_to_Arch_1)/msw_lvls.pickle','rb'))
# len(fc_train), len(fc_val)
# fc = fc_train.copy()
# fc.update(fc_val)
# len(fc)
# print(type(fc))
# fc_out = pd.DataFrame.from_dict(fc, orient='index', columns=['LEVEL'])
# fc_out

In [ ]:
# ls /content/drive/MyDrive/Scripts_and_Data_Transfer/final_data/combined_data_final_different_population_with_all_year_literacy_msl_sc_st_pop.pickle

In [ ]:
# fc_train = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/final_data/combined_data_final_different_population_with_all_year_literacy_msl_sc_st_pop.pickle','rb'))
# fc_train = fc_train['MSW_2011']
# # fc_val = pickle.load(open('/content/drive/MyDrive/Input_output_regression/Final_IO/Indicator_Classes/Val(According_to_Arch_1)/fc_lvls.pickle','rb'))
# # len(fc_train), len(fc_val)
# print(len(fc_train))
# fc = fc_train.copy()
# fc = fc.to_frame()
# fc.rename(columns = {'MSW_2011':'LEVEL'}, inplace = True)
# fc_out = fc.copy()


# fc_out

In [ ]:
model_name = 'lit'
model_name = model_name.upper()

fc_train = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_'+ model_name.lower() +'_without_outlier.pickle', 'rb'))
if model_name == 'LIT' :
  fc_train = fc_train[['Label', 'Town/Village(Code)']]
  fc_train.rename(columns = {'Label': model_name+'_ADI'}, inplace = True)
  
fc_train = fc_train[[model_name+'_ADI', 'Town/Village(Code)']]
# fc_val = pickle.load(open('/content/drive/MyDrive/Input_output_regression/Final_IO/Indicator_Classes/Val(According_to_Arch_1)/fc_lvls.pickle','rb'))
# len(fc_train), len(fc_val)
fc_train = fc_train.set_index('Town/Village(Code)')
print(len(fc_train))
fc = fc_train.copy()
# fc = fc.to_frame()
fc.rename(columns = {model_name+'_ADI':'LEVEL'}, inplace = True)
fc_out = fc.copy()


fc_out
# fc_train

340953

                   LEVEL
Town/Village(Code)
27378                  3
27379                  3
27380                  3
27381                  3
27382                  3
...                  ...
644661                 3
644682                 3
644683                 3
644687                 3
644693                 3

[340953 rows x 1 columns]

In [ ]:
ls drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/dmsp_models/2011_Household_Indicators_Regression/

ls: cannot access 'drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/dmsp_models/2011_Household_Indicators_Regression/': No such file or directory

In [ ]:
# AUGMENTED INPUT
# IN = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Inputs/Household_Indicators_Input/household_input_2011.pickle','rb'))
# IN = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Inputs/Household_Indicators_Input/household_input_2011.pickle','rb'))
IN = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Inputs/Household_Indicators_Input/household_input_2011_combined_new.pickle', 'rb'))

# test_list = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Test_List/test_list.pickle','rb'))
test_list = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/pretraining_data/2nd_level_Regression_Test_and_Train_data_LitMsl/viirs_test_list/X_test_'+model_name.lower()+'.pickle','rb'))

IN = IN.filter(items=test_list.index, axis=0)
IN

          BF_0_OUT_1    BF_0_OUT_2  BF_0_OUT_3  ...  sqrt_pop    log_hh   sqrt_hh
600616.0    0.993812  2.051098e-05    0.006168  ... -0.930675 -1.187457 -1.068484
528735.0    0.934126  7.631068e-03    0.058243  ... -1.788874 -4.138615 -1.798607
126952.0    0.987398  1.307372e-03    0.011295  ... -1.036978 -1.206480 -1.077868
430007.0    0.996554  4.604984e-05    0.003400  ... -1.088321 -1.016110 -0.979451
476319.0    0.974811  2.020482e-03    0.023169  ... -1.671456 -3.125014 -1.663285
...              ...           ...         ...  ...       ...       ...       ...
587760.0    0.000506  6.758856e-07    0.999494  ...  2.419534  2.095463  3.437496
545693.0    0.828105  1.690740e-01    0.002821  ... -0.454967 -0.186494 -0.409493
131993.0    0.975926  1.749633e-02    0.006578  ... -1.124933 -1.497893 -1.210164
520222.0    0.977156  2.169391e-02    0.001150  ... -0.585892 -0.287244 -0.493127
380288.0    0.999920  7.771635e-05    0.000003  ... -0.896027 -0.679249 -0.778365

[68191 rows x 132 columns]

In [ ]:
# FILTER OUT ACCORDING TO TEST LIST (TEST DATASET FROM ARCH-2 TRAINING FOR REGRESSION MODELS)
Y = fc_out.filter(items=IN.index, axis=0)
X = IN.filter(items=Y.index, axis=0)

In [ ]:
X

          BF_0_OUT_1    BF_0_OUT_2  BF_0_OUT_3  ...  sqrt_pop    log_hh   sqrt_hh
600616.0    0.993812  2.051098e-05    0.006168  ... -0.930675 -1.187457 -1.068484
528735.0    0.934126  7.631068e-03    0.058243  ... -1.788874 -4.138615 -1.798607
126952.0    0.987398  1.307372e-03    0.011295  ... -1.036978 -1.206480 -1.077868
430007.0    0.996554  4.604984e-05    0.003400  ... -1.088321 -1.016110 -0.979451
476319.0    0.974811  2.020482e-03    0.023169  ... -1.671456 -3.125014 -1.663285
...              ...           ...         ...  ...       ...       ...       ...
587760.0    0.000506  6.758856e-07    0.999494  ...  2.419534  2.095463  3.437496
545693.0    0.828105  1.690740e-01    0.002821  ... -0.454967 -0.186494 -0.409493
131993.0    0.975926  1.749633e-02    0.006578  ... -1.124933 -1.497893 -1.210164
520222.0    0.977156  2.169391e-02    0.001150  ... -0.585892 -0.287244 -0.493127
380288.0    0.999920  7.771635e-05    0.000003  ... -0.896027 -0.679249 -0.778365

[68191 rows x 132 columns]

In [ ]:
Y

                   LEVEL
Town/Village(Code)
600616.0               1
528735.0               3
126952.0               3
430007.0               1
476319.0               1
...                  ...
587760.0               3
545693.0               3
131993.0               3
520222.0               3
380288.0               3

[68191 rows x 1 columns]

In [ ]:
# Y = Y.iloc[:,0]
# Y

In [ ]:
# TOP 20 features as selected from classification

# cols_best = ['dc_score_sqrt_size_intensity', 'dc_score_log_size_intensity',
#        'dc_score_none_size_intensity', 'dc_score_none_size_intensity_only',
#        'dc_score_log_size', 'dc_score_sqrt_size_intensity_only',
#        'dc_score_sqrt_size_only', 'dc_score_sqrt_size',
#        'dc_score_none_size_only', 'dc_score_log_size_only',
#        'dc_score_none_size', 'dc_score_log_size_intensity_only', 'MSW_N_OUT_2',
#        'MSW_N_OUT_1', 'FC_N_OUT_1', 'ASSET_N_OUT_1',
#        'dc_score_none_intensity_only', 'MSW_N_OUT_3',
#        'dc_score_sqrt_intensity_only', 'FC_N_OUT_2',
#        'dc_score_log_intensity_only', 'ASSET_N_OUT_2',
#        'dc_score_none_intensity', 'dc_score_sqrt_intensity', 'BF_N_OUT_1']

# cols_best = ['dc_score_log_size_intensity',
#  'dc_score_none_size_intensity',
#  'dc_score_sqrt_size_intensity',
#  'dc_score_log_size',
#  'dc_score_sqrt_size',
#  'dc_score_none_size',
#  'MSW_N_OUT_2',
#  'MSW_N_OUT_1',
#  'MSW_N_OUT_3',
#  'FC_N_OUT_2',
#  'FC_N_OUT_1',
#  'dc_score_none_intensity',
#  'dc_score_sqrt_intensity',
#  'dc_score_log_intensity',
#  'ASSET_N_OUT_2',
#  'BF_N_OUT_1',
#  'ASSET_N_OUT_1',
#  'MSW_0_OUT_1',
#  'MSW_3_OUT_1',
#  'BF_N_OUT_2',
#  'MSW_2_OUT_1',
#  'MSW_5_OUT_2',
#  'MSW_0_OUT_2',
#  'ASSET_N_OUT_3',
#  'MSW_5_OUT_1',
#  'FC_0_OUT_2',
#  'MSW_4_OUT_2', 
#   'dc_score_none_intensity_only',
#  'dc_score_log_intensity_only',
#  'dc_score_sqrt_intensity_only',
#  'dc_score_none_size_only',
#  'dc_score_sqrt_size_only',
#  'dc_score_log_size_only',
#  'dc_score_sqrt_size_intensity_only',
#  'dc_score_log_size_intensity_only',
#  'dc_score_none_size_intensity_only']

# cols_best = ['FC_0_OUT_3', 'ASSET_4_OUT_3', 'MSW_N_OUT_3', 'dc_score_log_size_intensity', 'dc_score_sqrt_intensity_only', 'FC_N_OUT_1', 'dc_score_log_size_only', 'dc_score_sqrt_size_intensity', 'FC_N_OUT_2', 'dc_score_sqrt_size_only',  'FC_0_OUT_1', 'MSW_N_OUT_2', 'dc_score_log_intensity_only', 'ASSET_3_OUT_3', 'dc_score_none_size_only', 'ASSET_0_OUT_1', 'dc_score_log_size_intensity_only', 'MSW_0_OUT_3', 'dc_score_none_intensity_only', 'MSW_0_OUT_2']
# cols_best = ['FC_0_OUT_3', 'ASSET_4_OUT_3', 'MSW_N_OUT_3', 'dc_score_log_size_intensity', 'dc_score_sqrt_intensity_only', 'FC_N_OUT_1', 'dc_score_log_size_only', 'dc_score_sqrt_size_intensity', 'FC_N_OUT_2', 'dc_score_sqrt_size_only',  'FC_0_OUT_1', 'MSW_N_OUT_2', 'dc_score_log_intensity_only', 'ASSET_3_OUT_3', 'dc_score_none_size_only', 'ASSET_0_OUT_1', 'dc_score_log_size_intensity_only', 'MSW_0_OUT_3', 'dc_score_none_intensity_only', 'MSW_0_OUT_2' 
#                 ,'BF_0_OUT_1', 'BF_0_OUT_2', 'BF_0_OUT_3', 'BF_N_OUT_1', 'BF_N_OUT_2', 'BF_N_OUT_3']
# X11 = IN_2011_new.loc[:,cols_best]
# X11
# cols_best = ['dc_score_sqrt_size_intensity', 'dc_score_log_size_intensity',
#        'dc_score_none_size_intensity', 'dc_score_none_size',
#        'dc_score_sqrt_size', 'dc_score_log_size', 'dc_score_none_size_only',
#        'dc_score_sqrt_size_intensity_only', 'dc_score_log_size_only',
#        'dc_score_sqrt_size_only', 'dc_score_none_size_intensity_only',
#        'MSW_N_OUT_2', 'dc_score_log_size_intensity_only', 'MSW_N_OUT_1',
#        'MSW_N_OUT_3', 'FC_N_OUT_1', 'FC_N_OUT_2',
#        'dc_score_none_intensity_only', 'ASSET_N_OUT_2',
#        'dc_score_sqrt_intensity_only', 'dc_score_log_intensity_only',
#        'dc_score_log_intensity', 'ASSET_N_OUT_1', 'dc_score_none_intensity',
#        'dc_score_sqrt_intensity', 'BF_N_OUT_1', 'LIT_N_OUT_2', 'LIT_N_OUT_3',
#        'MSW_0_OUT_1']

cols_best = ['log_hh', 'sqrt_hh', 'hh', 'log_pop', 'sqrt_pop', 'pop', 'MSW_N_OUT_3',
       'MSW_0_OUT_3', 'ASSET_N_OUT_3', 'MSW_N_OUT_2', 'FC_N_OUT_2',
       'dc_score_sqrt_size_intensity_only',
       'dc_score_none_size_intensity_only', 'dc_score_log_size_intensity_only',
       'MSW_4_OUT_3', 'MSW_0_OUT_2', 'MSW_1_OUT_3', 'LIT_N_OUT_3',
       'dc_score_none_size_only', 'dc_score_log_size_intensity',
       'dc_score_sqrt_size_intensity', 'dc_score_none_size_intensity',
       'MSW_N_OUT_1', 'FC_0_OUT_2', 'MSW_5_OUT_3', 'dc_score_sqrt_size_only',
       'dc_score_log_size_only', 'FC_3_OUT_2', 'ASSET_N_OUT_1',
       'dc_score_sqrt_size', 'MSW_2_OUT_3', 'dc_score_log_size', 'FC_1_OUT_2',
       'MSW_3_OUT_3', 'dc_score_none_size', 'MSW_5_OUT_2']

X11 = X.loc[:,cols_best]
X11

            log_hh   sqrt_hh  ...  dc_score_none_size  MSW_5_OUT_2
600616.0 -1.187457 -1.068484  ...           -0.017339     0.087983
528735.0 -4.138615 -1.798607  ...           -0.439905     0.417428
126952.0 -1.206480 -1.077868  ...            0.269687     0.924421
430007.0 -1.016110 -0.979451  ...           -0.520656     0.282236
476319.0 -3.125014 -1.663285  ...            1.840469     0.522521
...            ...       ...  ...                 ...          ...
587760.0  2.095463  3.437496  ...           -0.427570     0.056088
545693.0 -0.186494 -0.409493  ...            0.315646     0.370605
131993.0 -1.497893 -1.210164  ...            0.264649     0.800676
520222.0 -0.287244 -0.493127  ...           -0.208429     0.077025
380288.0 -0.679249 -0.778365  ...           -0.598365     0.813515

[68191 rows x 36 columns]

<font color="red" size="6">GET THE CENTROIDS AND PREDICT ARCH-2 CLASSIFICATION</font>

In [ ]:
fc_centroids = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Cluster_Centroids/'+model_name.lower()+'_centroids.pickle','rb'))
fc_centroids = np.array(list(fc_centroids.values()))
fc_centroids

array([[34.48335181],
       [53.03561535],
       [68.6060283 ]])

In [ ]:
np.linalg.norm(fc_centroids, ord=2, axis=1)

array([34.48335181, 53.03561535, 68.6060283 ])

In [ ]:
# clf_rud = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/'+model_name.lower()+'_rud_reg.pickle','rb'))
# clf_int = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/'+model_name.lower()+'_int_reg.pickle','rb'))
# clf_adv = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/'+model_name.lower()+'_adv_reg.pickle','rb'))

clf = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/'+model_name.lower()+'_reg.pickle','rb'))

# clf_rud = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/msw_rud_reg.pickle','rb'))
# clf_int = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/msw_int_reg.pickle','rb'))
# clf_adv = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/msw_adv_reg.pickle','rb'))

# clf_tv = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/tv_reg.pickle','rb'))
# clf_tele = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/tele_reg.pickle','rb'))
# clf_2w = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/2w_reg.pickle','rb'))
# clf_4w = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/4w_reg.pickle','rb'))

In [ ]:
# rud11, inter11, adv11 = clf_rud.predict(X11), clf_int.predict(X11), clf_adv.predict(X11)

clf11 = clf.predict(X11)

# tv11, tele11, twow11, fourw11 = clf_tv.predict(X11), clf_tele.predict(X11), clf_2w.predict(X11), clf_4w.predict(X11)
# rud01, inter01, adv01 = clf_rud.predict(X01), clf_int.predict(X01), clf_adv.predict(X01)
# tv01, tele01, twow01, fourw01 = clf_tv.predict(X01), clf_tele.predict(X01), clf_2w.predict(X01), clf_4w.predict(X01)

In [ ]:
pred_level_11, pred_level_01 = [], []
# pred_level_11 = []

for i in range(len(clf11)):
  # lvl11 = np.argmin(np.linalg.norm(np.array([rud11[i], inter11[i], adv11[i]])-fc_centroids, ord=2, axis=1))+1

  lvl11 = np.argmin(np.linalg.norm(np.array([clf11[i]])-fc_centroids, ord=2, axis=1))+1


  # lvl01 = np.argmin(np.linalg.norm(np.array([rud01[i], inter01[i], adv01[i]])-fc_centroids, ord=2, axis=1))+1
  # lvl11 = np.argmin(np.linalg.norm(np.array([tv11[i], tele11[i], twow11[i], fourw11[i]])-fc_centroids, ord=2, axis=1))+1
  # lvl01 = np.argmin(np.linalg.norm(np.array([tv01[i], tele01[i], twow01[i], fourw01[i]])-fc_centroids, ord=2, axis=1))+1
  pred_level_11 += [lvl11]
  # pred_level_01 += [lvl01]

In [ ]:
a = Y['LEVEL'].tolist()

In [ ]:
cnf_matrix = confusion_matrix(a, pred_level_11)
print(cnf_matrix)
print(len(Y))

[[ 4728  6508   213]
 [ 2151 25398  4089]
 [  231  9375 15498]]
68191

In [ ]:
#NEW FC TEST
print(classification_report(a, pred_level_11))

              precision    recall  f1-score   support

           1       0.83      0.88      0.85     40981
           2       0.63      0.67      0.65     13859
           3       0.48      0.36      0.41     13351

    accuracy                           0.73     68191
   macro avg       0.65      0.63      0.64     68191
weighted avg       0.72      0.73      0.72     68191

In [ ]:
#NEW MSW TEST - outlier removal (new calculated ground truth)
print(classification_report(a, pred_level_11))

              precision    recall  f1-score   support

           1       0.59      0.68      0.63     12851
           2       0.83      0.79      0.81     39878
           3       0.68      0.69      0.69     15462

    accuracy                           0.74     68191
   macro avg       0.70      0.72      0.71     68191
weighted avg       0.75      0.74      0.75     68191

In [ ]:
#NEW BF TEST - viirs final
print(classification_report(a, pred_level_11))

              precision    recall  f1-score   support

           1       0.82      0.97      0.89     49807
           2       0.67      0.26      0.37      5425
           3       0.66      0.39      0.49     12959

    accuracy                           0.80     68191
   macro avg       0.72      0.54      0.58     68191
weighted avg       0.78      0.80      0.77     68191

In [ ]:
#NEW ASSET TEST
print(classification_report(a, pred_level_11))

              precision    recall  f1-score   support

           1       0.82      0.66      0.73     26186
           2       0.65      0.82      0.72     28380
           3       0.81      0.66      0.73     13625

    accuracy                           0.73     68191
   macro avg       0.76      0.71      0.73     68191
weighted avg       0.75      0.73      0.73     68191

In [ ]:
#LITERACY
print(classification_report(a, pred_level_11))

              precision    recall  f1-score   support

           1       0.66      0.41      0.51     11449
           2       0.62      0.80      0.70     31638
           3       0.78      0.62      0.69     25104

    accuracy                           0.67     68191
   macro avg       0.69      0.61      0.63     68191
weighted avg       0.69      0.67      0.66     68191

#Arch-1 classification performance

In [ ]:
model_name = 'asset'
model_name = model_name.upper()
model_name

'ASSET'

In [ ]:
IN = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Inputs/Household_Indicators_Input/household_input_2011_combined_new.pickle', 'rb'))
IN

        BF_0_OUT_1  BF_0_OUT_2  BF_0_OUT_3  ...  sqrt_pop    log_hh   sqrt_hh
27378     0.053910    0.939236    0.006854  ... -0.286324  0.007857 -0.234668
27379     0.020868    0.978828    0.000304  ... -0.359097 -0.056165 -0.294303
27380     0.162426    0.836869    0.000704  ...  0.916267  0.975670  0.971300
27381     0.047692    0.879542    0.072766  ...  0.536375  0.692629  0.551118
27382     0.764473    0.017324    0.218203  ...  0.756620  0.707235  0.571260
...            ...         ...         ...  ...       ...       ...       ...
644661    0.003038    0.996960    0.000002  ...  0.102866  0.833448  0.752116
644682    0.020880    0.000908    0.978212  ...  3.220821  2.376310  4.328670
644683    0.015891    0.014879    0.969230  ...  1.676138  1.847751  2.756499
644687    0.995348    0.000146    0.004507  ...  1.374471  1.724051  2.449161
644693    0.999980    0.000012    0.000008  ...  2.546358  2.177037  3.682520

[340953 rows x 132 columns]

In [ ]:
model_name.lower()

'asset'

In [ ]:
new_actual = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_'+ model_name.lower() +'_without_outlier.pickle', 'rb'))
temp_lit = new_actual.copy()
if model_name == 'LIT' :
  new_actual = new_actual[['Label', 'Town/Village(Code)']]
  new_actual.rename(columns = {'Label': model_name+'_ADI'}, inplace = True)
else :
  new_actual = new_actual[[model_name+'_ADI', 'Town/Village(Code)']]
new_actual = new_actual.set_index('Town/Village(Code)')
new_actual

                   ASSET_ADI
Town/Village(Code)
34223                      3
34224                      3
34225                      3
34228                      3
34230                      3
...                      ...
644433                     3
644434                     3
644447                     3
644448                     3
644449                     3

[340953 rows x 1 columns]

In [ ]:
# z = temp_lit.copy()[['literacy_percent_2011', 'Label']]
# z[z['Label'] == 3].max()

In [ ]:
# temp_lit.iloc[temp_lit.Label == 3, -2] = -1
# temp_lit.iloc[temp_lit.Label == 2, -2] = -3
# temp_lit.iloc[temp_lit.Label == 1, -2] = -2

# temp_lit.iloc[temp_lit.Label == -1, -2] = 1
# temp_lit.iloc[temp_lit.Label == -2, -2] = 2
# temp_lit.iloc[temp_lit.Label == -3, -2] = 3

In [ ]:
# temp_lit

In [ ]:
# pickle.dump(temp_lit, open('/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_'+ model_name.lower() +'_without_outlier.pickle', 'wb'))

In [ ]:
old_actual = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Indicator_Classes/Val(According_to_Arch_1)/'+ model_name.lower() +'_lvls.pickle','rb'))
# old_actual

In [ ]:
# fc_train[fc_train['Town/Village(Code)'] == 347135.0]

In [ ]:
# IN.loc[347135.0, 'MSW_0_OUT_3']

In [ ]:
# a = np.array([4, -2, 1, 0])
# a.shape
# np.argmax(a)

In [ ]:
test_list = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/pretraining_data/2nd_level_Regression_Test_and_Train_data_LitMsl/viirs_test_list/X_test_'+model_name.lower()+'.pickle','rb'))

# test_list = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/pretraining_data/2nd_level_Regression_Test_and_Train_data_LitMsl/X_test.pickle','rb'))
# test_list = IN.copy().filter(items = test_list.index, axis = 0)

test_list

        BF_0_OUT_1  BF_0_OUT_2  BF_0_OUT_3  ...  sqrt_pop    log_hh   sqrt_hh
614782    0.030944    0.967103    0.001954  ... -0.294254  0.110205 -0.134929
595356    0.980164    0.018377    0.001459  ... -0.685706 -0.376599 -0.563576
454837    0.988114    0.000440    0.011446  ... -1.248068 -1.471902 -1.199195
522873    0.000023    0.000535    0.999442  ...  1.124581  1.281711  1.504341
39172     0.000224    0.895852    0.103923  ... -0.278431 -0.061706 -0.299368
...            ...         ...         ...  ...       ...       ...       ...
388740    0.982107    0.017891    0.000002  ... -0.188305  0.105580 -0.139556
479852    0.999890    0.000007    0.000103  ... -0.853480 -0.690168 -0.785475
569583    0.999926    0.000013    0.000060  ... -1.379869 -2.111413 -1.428900
456953    0.998900    0.000006    0.001094  ...  0.831342  0.860433  0.792415
380288    0.999920    0.000078    0.000003  ... -0.896027 -0.679249 -0.778365

[68191 rows x 132 columns]

In [ ]:
new_actual = new_actual.filter(items = test_list.index, axis = 0)
new_actual

                   ASSET_ADI
Town/Village(Code)
614782                     1
595356                     1
454837                     3
522873                     1
39172                      3
...                      ...
388740                     1
479852                     1
569583                     1
456953                     1
380288                     1

[68191 rows x 1 columns]

In [ ]:
# z = temp_lit.filter(items = new_actual.index, axis=0)
# high = z[z['Label'] == 2]
# high[['literacy_percent_2011']].max()

In [ ]:
test_list = test_list[[model_name+'_0_OUT_1', model_name+'_0_OUT_2', model_name+'_0_OUT_3']]
test_list

        ASSET_0_OUT_1  ASSET_0_OUT_2  ASSET_0_OUT_3
614782       0.418127       0.479032       0.102840
595356       0.046600       0.610293       0.343107
454837       0.012923       0.110442       0.876635
522873       0.004534       0.151898       0.843568
39172        0.007731       0.030643       0.961626
...               ...            ...            ...
388740       0.922561       0.074743       0.002696
479852       0.601994       0.387467       0.010539
569583       0.923032       0.076622       0.000346
456953       0.436996       0.561887       0.001117
380288       0.992387       0.006469       0.001144

[68191 rows x 3 columns]

In [ ]:
test_arr = test_list.copy().to_numpy()
preds = list(map(np.argmax, test_arr))

def add1(a) :
  return a+1

preds = list(map(add1, preds))
preds[:10]

[2, 2, 3, 3, 3, 1, 2, 2, 2, 1]

In [ ]:
actual = new_actual[model_name+'_ADI'].to_list()
actual[:10]

[1, 1, 3, 1, 3, 1, 2, 2, 2, 1]

In [ ]:
#NEW BF TEST - viirs final
print(classification_report(actual, preds))

              precision    recall  f1-score   support

           1       0.84      0.74      0.79     26186
           2       0.74      0.81      0.77     28380
           3       0.77      0.78      0.78     13625

    accuracy                           0.78     68191
   macro avg       0.78      0.78      0.78     68191
weighted avg       0.78      0.78      0.78     68191

#Arch2 RMSE

In [ ]:
actual11 = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/ground_truth_2011.pkl', 'rb'))
actual11 = actual11.set_index('village_code')

actual11

              ADI  BF  FC  ASSET  LIT  MSW
village_code
34223          11   3   1      3    2    2
34224          14   3   3      3    3    2
34225          13   2   3      3    2    3
34228          12   1   3      3    2    3
34230          12   3   2      3    2    2
...           ...  ..  ..    ...  ...  ...
644433         13   1   3      3    3    3
644434         15   3   3      3    3    3
644447         15   3   3      3    3    3
644448         15   3   3      3    3    3
644449         13   1   3      3    3    3

[340953 rows x 6 columns]

In [ ]:
pred11 = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/pred_final_2011.pkl', 'rb'))
pred11 = pred11.set_index('village_code')
pred11

              ADI  BF  FC  ASSET  LIT  MSW
village_code
27378          11   1   1      3    3    3
27379          13   1   3      3    3    3
27380          11   1   1      3    3    3
27381          11   1   1      3    3    3
27382          11   1   1      3    3    3
...           ...  ..  ..    ...  ...  ...
644661         13   1   3      3    3    3
644682         13   1   3      3    3    3
644683         13   1   3      3    3    3
644687         13   1   3      3    3    3
644693         13   1   3      3    3    3

[332899 rows x 6 columns]

In [ ]:
actual11 = actual11.filter(items = pred11.index, axis = 0)
pred11 = pred11.filter(items = actual11.index, axis = 0)

In [ ]:
actual11

              ADI  BF  FC  ASSET  LIT  MSW
village_code
27378          11   1   1      3    3    3
27379          11   1   1      3    3    3
27380          11   1   1      3    3    3
27381          11   1   1      3    3    3
27382          11   1   1      3    3    3
...           ...  ..  ..    ...  ...  ...
644661         13   1   3      3    3    3
644682         15   3   3      3    3    3
644683         15   3   3      3    3    3
644687         13   1   3      3    3    3
644693         15   3   3      3    3    3

[332899 rows x 6 columns]

In [ ]:
pred11['fin_ADI'] = pred11['BF'] +  pred11['FC'] +  pred11['MSW'] +  pred11['ASSET'] +  pred11['LIT']
pred11

              ADI  BF  FC  ASSET  LIT  MSW  fin_ADI
village_code
27378          11   1   1      3    3    3       11
27379          13   1   3      3    3    3       13
27380          11   1   1      3    3    3       11
27381          11   1   1      3    3    3       11
27382          11   1   1      3    3    3       11
...           ...  ..  ..    ...  ...  ...      ...
644661         13   1   3      3    3    3       13
644682         13   1   3      3    3    3       13
644683         13   1   3      3    3    3       13
644687         13   1   3      3    3    3       13
644693         13   1   3      3    3    3       13

[332899 rows x 7 columns]

In [ ]:
from sklearn.metrics import mean_squared_error
rms = mean_squared_error(actual11.ADI, pred11.fin_ADI, squared=False)
rms

1.5268482698447097

In [ ]:
# rms = mean_squared_error(pred11.fin_ADI, pred11.ADI, squared=False)

#Arch1 RMSE

In [ ]:
IN = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Inputs/Household_Indicators_Input/household_input_2011_combined_new.pickle', 'rb'))
IN

        BF_0_OUT_1  BF_0_OUT_2  BF_0_OUT_3  ...  sqrt_pop    log_hh   sqrt_hh
27378     0.053910    0.939236    0.006854  ... -0.286324  0.007857 -0.234668
27379     0.020868    0.978828    0.000304  ... -0.359097 -0.056165 -0.294303
27380     0.162426    0.836869    0.000704  ...  0.916267  0.975670  0.971300
27381     0.047692    0.879542    0.072766  ...  0.536375  0.692629  0.551118
27382     0.764473    0.017324    0.218203  ...  0.756620  0.707235  0.571260
...            ...         ...         ...  ...       ...       ...       ...
644661    0.003038    0.996960    0.000002  ...  0.102866  0.833448  0.752116
644682    0.020880    0.000908    0.978212  ...  3.220821  2.376310  4.328670
644683    0.015891    0.014879    0.969230  ...  1.676138  1.847751  2.756499
644687    0.995348    0.000146    0.004507  ...  1.374471  1.724051  2.449161
644693    0.999980    0.000012    0.000008  ...  2.546358  2.177037  3.682520

[340953 rows x 132 columns]

In [ ]:
model_lis = ['BF', 'FC', 'MSW', 'ASSET', 'LIT']

def add1(a) :
  return a+1

arch1_df = IN.copy().drop(list(IN.columns), axis = 1)

for model_name in model_lis :
  test_list = IN.copy()[[model_name+'_0_OUT_1', model_name+'_0_OUT_2', model_name+'_0_OUT_3']]

  test_arr = test_list.copy().to_numpy()
  preds = list(map(np.argmax, test_arr))
  preds = list(map(add1, preds))
  arch1_df[model_name] = preds

In [ ]:
arch1_df

        BF  FC  MSW  ASSET  LIT
27378    2   1    3      3    3
27379    2   1    3      3    3
27380    2   3    3      3    3
27381    2   1    3      3    3
27382    1   1    3      3    3
...     ..  ..  ...    ...  ...
644661   2   3    3      3    3
644682   3   3    3      3    3
644683   3   3    3      3    3
644687   1   3    3      3    2
644693   1   3    3      3    2

[340953 rows x 5 columns]

In [ ]:
arch1_df['ADI'] = arch1_df['BF'] +  arch1_df['FC'] +  arch1_df['MSW'] +  arch1_df['ASSET'] +  arch1_df['LIT']
arch1_df

        BF  FC  MSW  ASSET  LIT  ADI
27378    2   1    3      3    3   12
27379    2   1    3      3    3   12
27380    2   3    3      3    3   14
27381    2   1    3      3    3   12
27382    1   1    3      3    3   11
...     ..  ..  ...    ...  ...  ...
644661   2   3    3      3    3   14
644682   3   3    3      3    3   15
644683   3   3    3      3    3   15
644687   1   3    3      3    2   12
644693   1   3    3      3    2   12

[340953 rows x 6 columns]

In [ ]:
actual11 = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/ground_truth_2011.pkl', 'rb'))
actual11 = actual11.set_index('village_code')

actual11

              ADI  BF  FC  ASSET  LIT  MSW
village_code
34223          11   3   1      3    2    2
34224          14   3   3      3    3    2
34225          13   2   3      3    2    3
34228          12   1   3      3    2    3
34230          12   3   2      3    2    2
...           ...  ..  ..    ...  ...  ...
644433         13   1   3      3    3    3
644434         15   3   3      3    3    3
644447         15   3   3      3    3    3
644448         15   3   3      3    3    3
644449         13   1   3      3    3    3

[340953 rows x 6 columns]

In [ ]:
pred11 = arch1_df.copy()

In [ ]:
actual11 = actual11.filter(items = pred11.index, axis = 0)
pred11 = pred11.filter(items = actual11.index, axis = 0)

In [ ]:
actual11

              ADI  BF  FC  ASSET  LIT  MSW
village_code
27378          11   1   1      3    3    3
27379          11   1   1      3    3    3
27380          11   1   1      3    3    3
27381          11   1   1      3    3    3
27382          11   1   1      3    3    3
...           ...  ..  ..    ...  ...  ...
644661         13   1   3      3    3    3
644682         15   3   3      3    3    3
644683         15   3   3      3    3    3
644687         13   1   3      3    3    3
644693         15   3   3      3    3    3

[340953 rows x 6 columns]

In [ ]:
pred11

        BF  FC  MSW  ASSET  LIT  ADI
27378    2   1    3      3    3   12
27379    2   1    3      3    3   12
27380    2   3    3      3    3   14
27381    2   1    3      3    3   12
27382    1   1    3      3    3   11
...     ..  ..  ...    ...  ...  ...
644661   2   3    3      3    3   14
644682   3   3    3      3    3   15
644683   3   3    3      3    3   15
644687   1   3    3      3    2   12
644693   1   3    3      3    2   12

[340953 rows x 6 columns]

In [ ]:
from sklearn.metrics import mean_squared_error
rms = mean_squared_error(actual11.ADI, pred11.ADI, squared=False)
rms

1.5514236438316187