In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import random
from tqdm import tqdm
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn import pipeline
from sklearn.feature_selection import SelectKBest, f_regression, f_classif, chi2, SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from scipy.stats import pearsonr
from sklearn.metrics import confusion_matrix, classification_report, silhouette_score, f1_score, precision_recall_curve, plot_precision_recall_curve, average_precision_score, auc
from sklearn.svm import SVR, LinearSVR, SVC, LinearSVC
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.kernel_approximation import Nystroem
from sklearn.linear_model import SGDClassifier, SGDRegressor
from sklearn.neural_network import MLPClassifier, MLPRegressor
from scipy import stats
from keras.layers import Dense
from keras.models import Sequential
from sklearn.metrics import plot_confusion_matrix

In [ ]:
year = "2019"
IN = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Inputs/Household_Indicators_Input/household_input_'+year+'_combined_new.pickle', 'rb'))
X=IN.copy()
IN

        BF_0_OUT_1  BF_0_OUT_2    BF_0_OUT_3  ...  sqrt_pop    log_hh   sqrt_hh
27378     0.968222    0.017454  1.432456e-02  ... -0.277275  0.109255 -0.116993
27379     0.050541    0.816297  1.331623e-01  ... -0.350502  0.006275 -0.199610
27380     0.939563    0.000722  5.971516e-02  ...  0.631396  0.926002  0.733766
27381     0.002592    0.021949  9.754584e-01  ... -0.140084  0.206143 -0.034874
27382     0.001948    0.981964  1.608787e-02  ...  2.522566  1.970338  2.558015
...            ...         ...           ...  ...       ...       ...       ...
644661    0.998201    0.001753  4.519305e-05  ... -0.118236  0.627428  0.377737
644682    0.461175    0.002007  5.368174e-01  ...  5.370732  3.336000  7.230545
644683    0.971427    0.010376  1.819709e-02  ...  1.669413  2.141746  2.970728
644687    0.999993    0.000007  2.782545e-08  ...  0.816925  1.573984  1.740293
644693    0.998195    0.001802  3.587973e-06  ...  1.633853  2.035231  2.709704

[309525 rows x 132 columns]

In [ ]:
# cols_best = ['dc_score_sqrt_size_intensity', 'dc_score_log_size_intensity',
#        'dc_score_none_size_intensity', 'dc_score_none_size',
#        'dc_score_sqrt_size', 'dc_score_log_size', 'dc_score_none_size_only',
#        'dc_score_sqrt_size_intensity_only', 'dc_score_log_size_only',
#        'dc_score_sqrt_size_only', 'dc_score_none_size_intensity_only',
#        'MSW_N_OUT_2', 'dc_score_log_size_intensity_only', 'MSW_N_OUT_1',
#        'MSW_N_OUT_3', 'FC_N_OUT_1', 'FC_N_OUT_2',
#        'dc_score_none_intensity_only', 'ASSET_N_OUT_2',
#        'dc_score_sqrt_intensity_only', 'dc_score_log_intensity_only',
#        'dc_score_log_intensity', 'ASSET_N_OUT_1', 'dc_score_none_intensity',
#        'dc_score_sqrt_intensity', 'BF_N_OUT_1', 'LIT_N_OUT_2', 'LIT_N_OUT_3',
#        'MSW_0_OUT_1']

cols_best = ['log_hh', 'sqrt_hh', 'hh', 'log_pop', 'sqrt_pop', 'pop', 'MSW_N_OUT_3',
       'MSW_0_OUT_3', 'ASSET_N_OUT_3', 'MSW_N_OUT_2', 'FC_N_OUT_2',
       'dc_score_sqrt_size_intensity_only',
       'dc_score_none_size_intensity_only', 'dc_score_log_size_intensity_only',
       'MSW_4_OUT_3', 'MSW_0_OUT_2', 'MSW_1_OUT_3', 'LIT_N_OUT_3',
       'dc_score_none_size_only', 'dc_score_log_size_intensity',
       'dc_score_sqrt_size_intensity', 'dc_score_none_size_intensity',
       'MSW_N_OUT_1', 'FC_0_OUT_2', 'MSW_5_OUT_3', 'dc_score_sqrt_size_only',
       'dc_score_log_size_only', 'FC_3_OUT_2', 'ASSET_N_OUT_1',
       'dc_score_sqrt_size', 'MSW_2_OUT_3', 'dc_score_log_size', 'FC_1_OUT_2',
       'MSW_3_OUT_3', 'dc_score_none_size', 'MSW_5_OUT_2']


X11 = X.loc[:,cols_best]
X11

          log_hh   sqrt_hh  ...  dc_score_none_size  MSW_5_OUT_2
27378   0.109255 -0.116993  ...           -0.213076     0.053216
27379   0.006275 -0.199610  ...           -0.197112     0.184452
27380   0.926002  0.733766  ...           -0.220258     0.053216
27381   0.206143 -0.034874  ...           -0.199998     0.053216
27382   1.970338  2.558015  ...           -0.186149     0.053216
...          ...       ...  ...                 ...          ...
644661  0.627428  0.377737  ...           -0.198764     0.267307
644682  3.336000  7.230545  ...           -0.241221     0.129557
644683  2.141746  2.970728  ...           -0.221843     0.147214
644687  1.573984  1.740293  ...           -0.225994     0.097357
644693  2.035231  2.709704  ...           -0.263446     0.195379

[309525 rows x 36 columns]

In [ ]:
fc_centroids_bf = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Cluster_Centroids/bf_centroids.pickle','rb'))
fc_centroids_fc = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Cluster_Centroids/fc_centroids.pickle','rb'))
fc_centroids_msw = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Cluster_Centroids/msw_centroids.pickle','rb'))
fc_centroids_asset = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Cluster_Centroids/asset_centroids.pickle','rb'))
fc_centroids_lit = pickle.load(open('drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/6.Classification_Performance_on_Household_Indicators/Arch_2/Cluster_Centroids/lit_centroids.pickle',''))


fc_centroids_bf = np.array(list(fc_centroids_bf.values()))rb
fc_centroids_fc = np.array(list(fc_centroids_fc.values()))
fc_centroids_msw = np.array(list(fc_centroids_msw.values()))
fc_centroids_asset = np.array(list(fc_centroids_asset.values()))
fc_centroids_lit = np.array(list(fc_centroids_lit.values()))

print(fc_centroids_bf)
print(fc_centroids_asset)
print(fc_centroids_lit)

[[95.06597392  0.48478858  4.25194301]
 [28.43290845 68.42038732  2.83851408]
 [32.05076422  1.07754624 66.01605086]]
[[ 8.42653522 20.6603894   5.16657173  0.39988889]
 [22.19590974 63.17948254 12.93166811  1.49625408]
 [62.26585789 75.13256883 30.8741908   3.59045989]]
[[34.48335181]
 [53.03561535]
 [68.6060283 ]]

In [ ]:
clf_rud_bf = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/bf_rud_reg.pickle','rb'))
clf_int_bf = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/bf_int_reg.pickle','rb'))
clf_adv_bf = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/bf_adv_reg.pickle','rb'))

clf_rud_fc = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/fc_rud_reg.pickle','rb'))
clf_int_fc = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/fc_int_reg.pickle','rb'))
clf_adv_fc = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/fc_adv_reg.pickle','rb'))

clf_rud_msw = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/msw_rud_reg.pickle','rb'))
clf_int_msw = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/msw_int_reg.pickle','rb'))
clf_adv_msw = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/msw_adv_reg.pickle','rb'))

clf_tv = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/tv_reg.pickle','rb'))
clf_tele = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/tele_reg.pickle','rb'))
clf_2w = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/2w_reg.pickle','rb'))
clf_4w = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/4w_reg.pickle','rb'))

clf_lit = pickle.load(open('/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Models/2011_Household_Indicators_Regression/viirs_models/lit_reg.pickle','rb'))

In [ ]:
rud_bf, inter_bf, adv_bf = clf_rud_bf.predict(X11), clf_int_bf.predict(X11), clf_adv_bf.predict(X11)
rud_fc, inter_fc, adv_fc = clf_rud_fc.predict(X11), clf_int_fc.predict(X11), clf_adv_fc.predict(X11)
rud_msw, inter_msw, adv_msw = clf_rud_msw.predict(X11), clf_int_msw.predict(X11), clf_adv_msw.predict(X11)

tv11, tele11, twow11, fourw11 = clf_tv.predict(X11), clf_tele.predict(X11), clf_2w.predict(X11), clf_4w.predict(X11)
lit11 = clf_lit.predict(X11)

In [ ]:
pred_level_bf, pred_level_fc, pred_level_msw, pred_level_asset, pred_level_lit = [], [], [], [], []
# pred_level_11 = []

for i in range(len(lit11)):
  lvl_bf = np.argmin(np.linalg.norm(np.array([rud_bf[i], inter_bf[i], adv_bf[i]])-fc_centroids_bf, ord=2, axis=1))+1
  lvl_fc = np.argmin(np.linalg.norm(np.array([rud_fc[i], inter_fc[i], adv_fc[i]])-fc_centroids_fc, ord=2, axis=1))+1
  lvl_msw = np.argmin(np.linalg.norm(np.array([rud_msw[i], inter_msw[i], adv_msw[i]])-fc_centroids_msw, ord=2, axis=1))+1

  lvl_asset = np.argmin(np.linalg.norm(np.array([tv11[i], tele11[i], twow11[i], fourw11[i]])-fc_centroids_asset, ord=2, axis=1))+1

  lvl_lit = np.argmin(np.linalg.norm(np.array([lit11[i]])-fc_centroids_lit, ord=2, axis=1))+1


  # lvl01 = np.argmin(np.linalg.norm(np.array([rud01[i], inter01[i], adv01[i]])-fc_centroids, ord=2, axis=1))+1
  # lvl11 = np.argmin(np.linalg.norm(np.array([tv11[i], tele11[i], twow11[i], fourw11[i]])-fc_centroids, ord=2, axis=1))+1
  # lvl01 = np.argmin(np.linalg.norm(np.array([tv01[i], tele01[i], twow01[i], fourw01[i]])-fc_centroids, ord=2, axis=1))+1
  pred_level_bf += [lvl_bf]
  pred_level_fc += [lvl_fc]
  pred_level_msw += [lvl_msw]
  pred_level_asset += [lvl_asset]
  pred_level_lit += [lvl_lit]
  # pred_level_01 += [lvl01]

In [ ]:
OUT = IN.copy()
OUT["BF"] = pred_level_bf
OUT["FC"] = pred_level_fc
OUT["MSW"] = pred_level_msw
OUT["ASSET"] = pred_level_asset
OUT["LIT"] = pred_level_lit

In [ ]:
OUT = OUT[["BF","FC","MSW","ASSET","LIT"]]

In [ ]:
OUT["ADI"] = OUT["BF"] + OUT["FC"] + OUT["MSW"] + OUT["ASSET"] + OUT["LIT"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
OUT.describe()

                  BF             FC  ...            LIT            ADI
count  309525.000000  309525.000000  ...  309525.000000  309525.000000
mean        1.064838       1.540767  ...       2.124782       8.715739
std         0.352314       0.779636  ...       0.388452       1.812381
min         1.000000       1.000000  ...       1.000000       5.000000
25%         1.000000       1.000000  ...       2.000000       8.000000
50%         1.000000       1.000000  ...       2.000000       9.000000
75%         1.000000       2.000000  ...       2.000000       9.000000
max         3.000000       3.000000  ...       3.000000      15.000000

[8 rows x 6 columns]

In [ ]:
OUT.head()

       BF  FC  MSW  ASSET  LIT  ADI
27378   1   3    3      3    3   13
27379   1   3    3      3    3   13
27380   1   3    3      3    3   13
27381   1   1    3      3    3   11
27382   1   3    3      3    3   13

In [ ]:
save_as = "pred_"+year+".pkl"
pickle.dump(OUT, open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/"+save_as,"wb"))

Testing and Merging Phase

In [ ]:
adi_1999 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_1999.pkl")
adi_2000 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2000.pkl")
adi_2001 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2001.pkl")

adi_2009 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2009.pkl")
adi_2010 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2010.pkl")
adi_2011 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2011.pkl")

adi_2017 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2017.pkl")
adi_2018 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2018.pkl")
adi_2019 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2019.pkl")

In [ ]:
def adi_dict(df):
  dict_adi = {}
  for index, row in df.iterrows():
    dict_adi[index] = {"BF": row["BF"],
                       "FC": row["FC"],
                       "MSW": row["MSW"],
                       "ASSET": row["ASSET"],
                       "LIT": row["LIT"],
                       "ADI":row["ADI"]}
  return dict_adi

In [ ]:
dict_1999 = adi_dict(adi_1999)
dict_2000 = adi_dict(adi_2000)
dict_2001 = adi_dict(adi_2001)

dict_2009 = adi_dict(adi_2009)
dict_2010 = adi_dict(adi_2010)
dict_2011 = adi_dict(adi_2011)

dict_2017 = adi_dict(adi_2017)
dict_2018 = adi_dict(adi_2018)
dict_2019 = adi_dict(adi_2019)

In [ ]:
gt_asset = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_asset_without_outlier.pickle", "rb"))

gt_msw = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_msw_without_outlier.pickle", "rb"))

gt_fc = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_fc_without_outlier.pickle", "rb"))

gt_lit = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_lit_without_outlier.pickle", "rb"))

gt_bf = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/5.ADI_Analysis/2011_Original(Ground_Truth)_ADI_without_outlier/2011_ADI_orginal_bf_without_outlier.pickle", "rb"))

In [ ]:
dict_gt = {}
for i in gt_asset["Town/Village(Code)"]:
  dict_gt[i] = {}
for index,row in gt_asset.iterrows():
  dict_gt[row['Town/Village(Code)']]["ASSET"] = row['ASSET_ADI']
for index,row in gt_fc.iterrows():
  dict_gt[row['Town/Village(Code)']]["FC"] = row['FC_ADI']
for index,row in gt_bf.iterrows():
  dict_gt[row['Town/Village(Code)']]["BF"] = row['BF_ADI']
for index,row in gt_msw.iterrows():
  dict_gt[row['Town/Village(Code)']]["MSW"] = row['MSW_ADI']
for index,row in gt_lit.iterrows():
  dict_gt[row['Town/Village(Code)']]["LIT"] = row['Label']

In [ ]:
gt_lit.columns

Index(['State', 'District', 'Subdistt', 'Town/Village(Code)', 'Ward', 'Name',
       'literacy_percent_2011', 'Label', 'State_name'],
      dtype='object')

In [ ]:
for i in dict_gt:
  dict_gt[i]["ADI"] = 0
  for j in ["ASSET", "FC", "BF", "MSW", "LIT"]:
    dict_gt[i]["ADI"] += dict_gt[i][j]

In [ ]:
dut = {}
for i in dict_gt:
  if len(dict_gt[i]) not in dut:
    dut[len(dict_gt[i])] = 1
  else:
    dut[len(dict_gt[i])] += 1
print(dut)

{6: 340953}

In [ ]:
from sklearn.metrics import classification_report
for j in ["ASSET", "FC", "BF", "MSW", "LIT"]:
  print("Label = ", j)
  gt = []
  pred = []
  for i in dict_gt:
    if i in dict_2011:
      gt.append(dict_gt[i][j])
      pred.append(dict_2011[i][j])
  print(len(gt))
  print(classification_report(gt, pred))

Label =  ASSET
340953
              precision    recall  f1-score   support

           1       0.84      0.70      0.76    120724
           2       0.70      0.84      0.76    154166
           3       0.82      0.67      0.74     66063

    accuracy                           0.76    340953
   macro avg       0.79      0.74      0.76    340953
weighted avg       0.77      0.76      0.76    340953

Label =  FC
340953
              precision    recall  f1-score   support

           1       0.85      0.91      0.88    205449
           2       0.70      0.75      0.73     69234
           3       0.55      0.40      0.46     66270

    accuracy                           0.78    340953
   macro avg       0.70      0.68      0.69    340953
weighted avg       0.76      0.78      0.76    340953

Label =  BF
340953
              precision    recall  f1-score   support

           1       0.88      0.98      0.93    271778
           2       0.76      0.31      0.44     21739
           3       0.73      0.45      0.55     47436

    accuracy                           0.86    340953
   macro avg       0.79      0.58      0.64    340953
weighted avg       0.85      0.86      0.85    340953

Label =  MSW
340953
              precision    recall  f1-score   support

           1       0.67      0.77      0.72     64816
           2       0.88      0.83      0.85    196646
           3       0.76      0.77      0.76     79491

    accuracy                           0.80    340953
   macro avg       0.77      0.79      0.78    340953
weighted avg       0.81      0.80      0.81    340953

Label =  LIT
340953
              precision    recall  f1-score   support

           1       0.74      0.47      0.57     57835
           2       0.64      0.83      0.72    157373
           3       0.81      0.65      0.72    125745

    accuracy                           0.70    340953
   macro avg       0.73      0.65      0.67    340953
weighted avg       0.72      0.70      0.70    340953

In [ ]:
gt = []
pred = []
from sklearn.metrics import mean_squared_error
import math
for i in dict_gt:
  if i in dict_2011:
    gt.append(dict_gt[i]["ADI"])
    pred.append(dict_2011[i]["ADI"])

mse = mean_squared_error(gt, pred)

rmse = math.sqrt(mse)

print(rmse)

1.530495572267186

In [ ]:
gt = []
pred = []
for i in dict_gt:
  if i in final_adi_2011:
    gt.append(dict_gt[i]["ADI"])
    pred.append(final_adi_2011[i])

mse = mean_squared_error(gt, pred)

rmse = math.sqrt(mse)

print(rmse)

1.7522556123035522

In [ ]:
ind_label_final_2011 = {}
for i in dict_2011:
  if i in dict_2009 and i in dict_2010:
    ind_label_final_2011[i] = {}
    for j in ["ASSET", "FC", "BF", "MSW", "LIT"]:
      # x = np.array([1, 2, 3])
      y = int( (dict_2009[i][j]+ dict_2010[i][j]+ dict_2011[i][j])/3)
      # m, b = np.polyfit(x, y, 1)
      ind_label_final_2011[i][j] = y

In [ ]:
for i in ind_label_final_2011:
  ind_label_final_2011[i]["ADI"] = 0
  for j in ["ASSET", "FC", "BF", "MSW", "LIT"]:
    ind_label_final_2011[i]["ADI"] += ind_label_final_2011[i][j]

In [ ]:
for j in ["ASSET", "FC", "BF", "MSW", "LIT"]:
  print("Label = ", j)
  gt = []
  pred = []
  for i in dict_gt:
    if i in ind_label_final_2011:
      gt.append(dict_gt[i][j])
      pred.append(ind_label_final_2011[i][j])
  print(len(gt))
  print(classification_report(gt, pred))

Label =  ASSET
332899
              precision    recall  f1-score   support

           1       0.75      0.73      0.74    119800
           2       0.60      0.82      0.69    150455
           3       0.89      0.17      0.29     62644

    accuracy                           0.67    332899
   macro avg       0.75      0.57      0.58    332899
weighted avg       0.71      0.67      0.64    332899

Label =  FC
332899
              precision    recall  f1-score   support

           1       0.73      0.92      0.82    199051
           2       0.50      0.53      0.51     69159
           3       0.66      0.08      0.14     64689

    accuracy                           0.68    332899
   macro avg       0.63      0.51      0.49    332899
weighted avg       0.67      0.68      0.62    332899

Label =  BF
332899
              precision    recall  f1-score   support

           1       0.82      0.99      0.90    265441
           2       0.25      0.11      0.15     21412
           3       0.79      0.04      0.07     46046

    accuracy                           0.80    332899
   macro avg       0.62      0.38      0.37    332899
weighted avg       0.78      0.80      0.74    332899

Label =  MSW
332899
              precision    recall  f1-score   support

           1       0.45      0.72      0.55     64111
           2       0.70      0.73      0.71    194956
           3       0.76      0.27      0.40     73832

    accuracy                           0.63    332899
   macro avg       0.64      0.57      0.56    332899
weighted avg       0.66      0.63      0.61    332899

Label =  LIT
332899
              precision    recall  f1-score   support

           1       0.63      0.49      0.55     56181
           2       0.50      0.90      0.64    152596
           3       0.86      0.11      0.19    124122

    accuracy                           0.53    332899
   macro avg       0.66      0.50      0.46    332899
weighted avg       0.66      0.53      0.46    332899

In [ ]:
gt = []
pred = []
for i in dict_gt:
  if i in ind_label_final_2011:
    gt.append(dict_gt[i]["ADI"])
    pred.append(ind_label_final_2011[i]["ADI"])

mse = mean_squared_error(gt, pred)

rmse = math.sqrt(mse)

print(rmse)

2.214994984695279

In [ ]:
x = np.array([1, 2, 3])
y = np.array([2,1,1])
m, b = np.polyfit(x, y, 1)
int(m*3+b)

0

In [ ]:
final_adi_2001 = {}
for i in dict_1999:
  if i in dict_2000 and i in dict_2001:
    final_adi_2001[i] = {}
    x = np.array([1, 2, 3])
    y = np.array([ dict_1999[i]["ADI"], dict_2000[i]["ADI"], dict_2001[i]["ADI"]])
    m, b = np.polyfit(x, y, 1)
    final_adi_2001[i]["ADI"] = int(m*3+b)
    for j in dict_2001[i]:
      if j != "ADI":
        final_adi_2001[i][j] = dict_2001[i][j]

In [ ]:
final_adi_2011 = {}
for i in dict_2009:
  if i in dict_2010 and i in dict_2011:
    final_adi_2011[i] = {}
    x = np.array([1, 2, 3])
    y = np.array([ dict_2009[i]["ADI"], dict_2010[i]["ADI"], dict_2011[i]["ADI"]])
    m, b = np.polyfit(x, y, 1)
    final_adi_2011[i]["ADI"] = int(m*3+b)
    for j in dict_2011[i]:
      if j != "ADI":
        final_adi_2011[i][j] = dict_2011[i][j]

In [ ]:
final_adi_2019 = {}
for i in dict_2019:
  if i in dict_2017 and i in dict_2018:
    final_adi_2019[i] = {}
    x = np.array([1, 2, 3])
    y = np.array([ dict_2017[i]["ADI"], dict_2018[i]["ADI"], dict_2019[i]["ADI"]])
    m, b = np.polyfit(x, y, 1)
    final_adi_2019[i]["ADI"] = int(m*3+b)
    for j in dict_2019[i]:
      if j != "ADI":
        final_adi_2019[i][j] = dict_2019[i][j]

In [ ]:
dut = {}
for i in final_adi_2001:
  if len(final_adi_2001[i]) not in dut:
    dut[len(final_adi_2001[i])] = 1
  else:
    dut[len(final_adi_2001[i])] += 1
print(dut)

{6: 291078}

In [ ]:
count_common = 0
count_dec = 0
for i in final_adi_2019:
  if i in final_adi_2011:
    count_common += 1
    if (final_adi_2011[i] > final_adi_2019[i]):
      count_dec += 1
print("Common", count_common)
print("Decreased", count_dec)
print(100*count_dec/count_common, "%")

Common 308708
Decreased 116255
37.65856407997201 %

In [ ]:
count_common = 0
count_dec = 0
for i in dict_2019:
  if i in dict_2011:
    count_common += 1
    if (dict_2011[i]["ADI"] > dict_2019[i]["ADI"]):
      count_dec += 1
print("Common", count_common)
print("Decreased", count_dec)
print(100*count_dec/count_common, "%")

Common 309525
Decreased 105168
33.97722316452629 %

In [ ]:
count_common = 0
count_dec = 0
for i in final_adi_2001:
  if i in final_adi_2011:
    count_common += 1
    if (final_adi_2001[i] > final_adi_2011[i]):
      count_dec += 1
print("Common", count_common)
print("Decreased", count_dec)
print(100*count_dec/count_common, "%")

Common 290269
Decreased 79799
27.491395912067773 %

In [ ]:
count_common = 0
count_dec = 0
for i in dict_2001:
  if i in dict_2011:
    count_common += 1
    if (dict_2001[i]["ADI"] > dict_2011[i]["ADI"]):
      count_dec += 1
print("Common", count_common)
print("Decreased", count_dec)
print(100*count_dec/count_common, "%")

Common 311831
Decreased 89213
28.6094070185453 %

In [ ]:
d = {"village_code": [], "ADI":[], "BF":[], "FC":[], "ASSET":[], "LIT":[], "MSW":[]}
for i in dict_gt:
  d["village_code"].append(i)
  for j in dict_gt[i]:
    d[j].append(dict_gt[i][j])

ground_truth_2011 = pd.DataFrame(data=d)
save_as = "ground_truth_2011.pkl"
pickle.dump(ground_truth_2011, open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/"+save_as,"wb"))

In [ ]:
ground_truth_2011.head()

   village_code  ADI  BF  FC  ASSET  LIT  MSW
0         34223   11   3   1      3    2    2
1         34224   14   3   3      3    3    2
2         34225   13   2   3      3    2    3
3         34228   12   1   3      3    2    3
4         34230   12   3   2      3    2    2

In [ ]:
d = {"village_code": [], "ADI":[], "BF":[], "FC":[], "ASSET":[], "LIT":[], "MSW":[]}
for i in final_adi_2019:
  d["village_code"].append(i)
  for j in final_adi_2019[i]:
    d[j].append(final_adi_2019[i][j])

df_final_2019 = pd.DataFrame(data=d)
save_as = "pred_final_2019.pkl"
pickle.dump(df_final_2019, open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/"+save_as,"wb"))

In [ ]:
df_final_2019.head()

   village_code  ADI  BF  FC  ASSET  LIT  MSW
0         27378   12   1   3      3    3    3
1         27379   12   1   3      3    3    3
2         27380   12   1   3      3    3    3
3         27381   10   1   1      3    3    3
4         27382   12   1   3      3    3    3

In [ ]:
d = {"village_code": [], "ADI":[], "BF":[], "FC":[], "ASSET":[], "LIT":[], "MSW":[]}
for i in final_adi_2011:
  d["village_code"].append(i)
  for j in final_adi_2011[i]:
    d[j].append(final_adi_2011[i][j])

df_final_2011 = pd.DataFrame(data=d)
save_as = "pred_final_2011.pkl"
pickle.dump(df_final_2011, open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/"+save_as,"wb"))

In [ ]:
d = {"village_code": [], "ADI":[], "BF":[], "FC":[], "ASSET":[], "LIT":[], "MSW":[]}
for i in final_adi_2001:
  d["village_code"].append(i)
  for j in final_adi_2001[i]:
    d[j].append(final_adi_2001[i][j])
df_final_2001 = pd.DataFrame(data=d)
save_as = "pred_final_2001.pkl"
pickle.dump(df_final_2001, open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/"+save_as,"wb"))

In [ ]:
df_final_2001.head()

   village_code  ADI  BF  FC  ASSET  LIT  MSW
0         27378    6   1   1      2    2    1
1         27379    7   1   1      2    2    1
2         27380    7   1   1      2    2    1
3         27381    6   1   1      2    2    1
4         27382    6   1   1      2    2    1

In [ ]:
df_final_2011.head()

   village_code  ADI  BF  FC  ASSET  LIT  MSW
0         27378   11   1   1      3    3    3
1         27379   13   1   3      3    3    3
2         27380   11   1   1      3    3    3
3         27381   11   1   1      3    3    3
4         27382   11   1   1      3    3    3

In [ ]:
df_final_2019.head()

   village_code  ADI  BF  FC  ASSET  LIT  MSW
0         27378   12   1   3      3    3    3
1         27379   12   1   3      3    3    3
2         27380   12   1   3      3    3    3
3         27381   10   1   1      3    3    3
4         27382   12   1   3      3    3    3

In [ ]:
df_final_2001.tail()

        village_code  ADI
291073        644661    9
291074        644682    8
291075        644683   10
291076        644687    9
291077        644693    8

In [ ]:
final_adi_2001[644687]

9

In [ ]:
df_final_2019 = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/pred_final_2019.pkl","rb"))

In [ ]:
df_final_2011 = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/pred_final_2011.pkl","rb"))

In [ ]:
df_final_2001 = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/pred_final_2001.pkl","rb"))

In [ ]:
df_final_gt_2011 = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/ground_truth_2011.pkl", "rb"))

In [ ]:
final_2019 = adi_dict(df_final_2019)
final_2011 = adi_dict(df_final_2011)
final_2001 = adi_dict(df_final_2001)

In [ ]:
gt_2011_dict = adi_dict(df_final_gt_2011)

In [ ]:
total_vil = 0
dec = 0
for i in gt_2011_dict:
  if i in final_2019:
    total_vil += 1
    if gt_2011_dict[i]["ADI"] > final_2019[i]["ADI"]:
      dec += 1
print(dec, total_vil)
print("Decrement = ", 100*dec/total_vil, "%")

166274 309519
Decrement =  53.72012703582009 %

In [ ]:
total_vil = 0
dec = 0
for i in gt_2011_dict:
  if i in final_2019:
    total_vil += 1
    if gt_2011_dict[i]["ADI"] > final_2019[i]["ADI"]:
      dec += 1
print(dec, total_vil)
print("Decrement = ", 100*dec/total_vil, "%")

164716 309519
Decrement =  53.216765368200335 %

In [ ]:
for i in final_2019:
  final_2019[i]["ADI"] -= final_2019[i]["LIT"]

In [ ]:
for i in gt_2011_dict:
  gt_2011_dict[i]["ADI"] -= gt_2011_dict[i]["LIT"]

In [ ]:
adi_1999 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_1999.pkl")
adi_2000 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2000.pkl")
adi_2001 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2001.pkl")

adi_2009 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2009.pkl")
adi_2010 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2010.pkl")
adi_2011 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2011.pkl")

adi_2017 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2017.pkl")
adi_2018 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2018.pkl")
adi_2019 = pd.read_pickle("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/ADI_Predictions/pred_2019.pkl")

In [ ]:
df_final_gt_2011 = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/ground_truth_2011.pkl", "rb"))

In [ ]:
adi_2019.head()

       BF  FC  MSW  ASSET  LIT  ADI
27378   1   3    3      3    3   13
27379   1   3    3      3    3   13
27380   1   3    3      3    3   13
27381   1   1    3      3    3   11
27382   1   3    3      3    3   13

In [ ]:
df_final_gt_2011 = df_final_gt_2011.set_index('village_code')

In [ ]:
df_final_gt_2011.columns

Index(['ADI', 'BF', 'FC', 'ASSET', 'LIT', 'MSW'], dtype='object')

In [ ]:
adi_2019.columns

Index(['BF', 'FC', 'MSW', 'ASSET', 'LIT', 'ADI'], dtype='object')

In [ ]:
adi_2019.rename(columns = {'ADI':'ADI_pred_2019'}, inplace = True)

In [ ]:
adi_2019["ADI_pred_2019"] = adi_2019["ADI_pred_2019"] - adi_2019["LIT"]

In [ ]:
gt_pred_join = df_final_gt_2011[["ADI_GT_2011"]].join(adi_2019[["ADI_pred_2019"]], how="inner")

In [ ]:
gt_pred_join.shape

(139487, 2)

In [ ]:
gt_pred_join["Diff"] = gt_pred_join["ADI_pred_2019"] - gt_pred_join["ADI_GT_2011"]

In [ ]:
gt_pred_join[gt_pred_join['Diff'] < 0]

        ADI_GT_2011  ADI_pred_2019  Diff
34224            14             11    -3
34225            13             11    -2
34230            12             10    -2
34234            11              8    -3
34235            10              9    -1
...             ...            ...   ...
632170           11              8    -3
632171           15              8    -7
632199           13              7    -6
632200           13              9    -4
632201           11              9    -2

[132462 rows x 3 columns]

In [ ]:
print(132462/309525)

0.4279525078749697

In [ ]:
df_final_2019 = pickle.load(open("/content/drive/MyDrive/Scripts_and_Data_Transfer/3.Arch_2_Procedure/5.Train_Regression_and_Classification_Models/Outputs/Time_Series_Output/pred_final_2019.pkl","rb"))

In [ ]:
df_final_2019.rename(columns = {'ADI':'ADI_pred_2019'}, inplace = True)

In [ ]:
df_final_2019["ADI_pred_2019"] = df_final_2019["ADI_pred_2019"] - df_final_2019["LIT"]

In [ ]:
df_final_gt_2011.rename(columns = {'ADI':'ADI_GT_2011'}, inplace = True)

In [ ]:
df_final_gt_2011.columns

Index(['village_code', 'ADI_GT_2011', 'BF', 'FC', 'ASSET', 'LIT', 'MSW'], dtype='object')

In [ ]:
df_final_gt_2011['ADI_GT_2011'] = df_final_gt_2011['ADI_GT_2011'] - df_final_gt_2011["LIT"]

In [ ]:
gt_pred_join_corrected = df_final_gt_2011[["ADI_GT_2011"]].join(df_final_2019[["ADI_pred_2019"]], how="inner")

In [ ]:
gt_pred_join_corrected.shape

(309519, 2)

In [ ]:
gt_pred_join_corrected["Diff"] = gt_pred_join_corrected["ADI_pred_2019"] - gt_pred_join_corrected["ADI_GT_2011"]

In [ ]:
gt_pred_join_corrected[gt_pred_join_corrected['Diff'] < 0]

        ADI_GT_2011  ADI_pred_2019  Diff
1                11              9    -2
2                11              9    -2
3                10              7    -3
4                10              9    -1
6                 8              7    -1
...             ...            ...   ...
309485            7              5    -2
309486            7              6    -1
309487            8              6    -2
309488            8              7    -1
309489            6              5    -1

[164716 rows x 3 columns]

In [ ]:
(164716/309519)*100

53.216765368200335

In [ ]:
adi_2017.describe()

                  BF             FC  ...            LIT            ADI
count  309530.000000  309530.000000  ...  309530.000000  309530.000000
mean        1.072400       1.531548  ...       2.152509       8.708529
std         0.371407       0.776810  ...       0.427426       1.865154
min         1.000000       1.000000  ...       1.000000       5.000000
25%         1.000000       1.000000  ...       2.000000       7.000000
50%         1.000000       1.000000  ...       2.000000       9.000000
75%         1.000000       2.000000  ...       2.000000      10.000000
max         3.000000       3.000000  ...       3.000000      15.000000

[8 rows x 6 columns]

In [ ]:
adi_2018.describe()

                  BF             FC  ...            LIT            ADI
count  309529.000000  309529.000000  ...  309529.000000  309529.000000
mean        1.065383       1.546430  ...       2.137357       8.678886
std         0.353552       0.781325  ...       0.420028       1.850127
min         1.000000       1.000000  ...       1.000000       5.000000
25%         1.000000       1.000000  ...       2.000000       7.000000
50%         1.000000       1.000000  ...       2.000000       9.000000
75%         1.000000       2.000000  ...       2.000000      10.000000
max         3.000000       3.000000  ...       3.000000      15.000000

[8 rows x 6 columns]

In [ ]:
adi_2019.describe()

                  BF             FC  ...            LIT            ADI
count  309525.000000  309525.000000  ...  309525.000000  309525.000000
mean        1.064838       1.540767  ...       2.124782       8.715739
std         0.352314       0.779636  ...       0.388452       1.812381
min         1.000000       1.000000  ...       1.000000       5.000000
25%         1.000000       1.000000  ...       2.000000       8.000000
50%         1.000000       1.000000  ...       2.000000       9.000000
75%         1.000000       2.000000  ...       2.000000       9.000000
max         3.000000       3.000000  ...       3.000000      15.000000

[8 rows x 6 columns]

In [ ]:
df_final_gt_2011.describe()

        village_code    ADI_GT_2011  ...            LIT            MSW
count  340953.000000  340953.000000  ...  340953.000000  340953.000000
mean   346753.937554       9.015709  ...       2.199177       2.043041
std    183608.510687       2.328290  ...       0.706231       0.649149
min     27378.000000       5.000000  ...       1.000000       1.000000
25%    166727.000000       7.000000  ...       2.000000       2.000000
50%    393617.000000       9.000000  ...       2.000000       2.000000
75%    505255.000000      10.000000  ...       3.000000       2.000000
max    644693.000000      15.000000  ...       3.000000       3.000000

[8 rows x 7 columns]

In [ ]:
gt_pred_join_corrected["ADI_pred_2019"] - gt_pred_join_corrected["ADI_GT_2011"]